<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>  

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Chiro.Gap.WorkerInterfaces.ILedenManager, Chiro.Gap.WorkerInterfaces" mapTo="Chiro.Gap.Workers.LedenManager, Chiro.Gap.Workers"/>
    </container>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
