<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cg2.Data.Properties.Settings.ChiroGroepConnectionString"
            connectionString="Data Source=DEVSERVER;Initial Catalog=ChiroGroep;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>