<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  <httpErrors existingResponse="PassThrough" /></system.webServer>

  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=gap_local;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=gap_local&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Chiro.Cdf.Poco.IContext, Chiro.Cdf.Poco" mapTo="Chiro.Gap.Poco.Context.ChiroGroepEntities, Chiro.Gap.Poco.Context" />
      <register type="Chiro.Cdf.Poco.IRepositoryProvider, Chiro.Cdf.Poco" mapTo="Chiro.Cdf.Poco.RepositoryProvider, Chiro.Cdf.Poco" />
      <register type="Chiro.Cdf.Poco.IRepository`1, Chiro.Cdf.Poco" mapTo="Chiro.Cdf.Poco.Repository`1, Chiro.Cdf.Poco" />
      <register type="Chiro.Gap.UpdateApi.Workers.IPersoonUpdater, Chiro.Gap.UpdateApi" mapTo="Chiro.Gap.UpdateApi.Workers.PersoonUpdater, Chiro.Gap.UpdateApi" />
    </container>
  </unity>

</configuration>