[submodule "tools/Chiro.CiviCrm.Wcf"]
	path = tools/Chiro.CiviCrm.Wcf
	url = https://gitlab.chiro.be/civi/civicrm.net.git

[submodule "tools/DotNetCasClient"]
	path = tools/DotNetCasClient
	url = https://gitlab.chiro.be/gap/dotnet-cas-client.git
