<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings />
  <unity>
    <container>
      <!-- In dev authenticeren we niet tegen AD, maar krijg je een dummy-AD-nr: -->
      <register type="Chiro.Cdf.Authentication.IAuthenticator, Chiro.Cdf.Authentication" mapTo="Chiro.Cdf.Authentication.DevDummy.DummyAuthenticator, Chiro.Cdf.Authentication.DevDummy" />
    </container>
  </unity>
</configuration>