<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings />
  <unity>
    <container>
      <!-- Voor unit tests authenticeren we niet tegen CAS, maar krijg je een dummy-AD-nr: -->
      <register type="Chiro.Cdf.Authentication.IAuthenticator, Chiro.Cdf.Authentication" mapTo="Chiro.Gap.Dummies.DummyAuthenticator, Chiro.Gap.Dummies" />
    </container>
  </unity>
</configuration>