<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="serviceHelper" type="Chiro.Cdf.ServiceHelper.Configuration.CdfConfigurationSection, Chiro.Cdf.ServiceHelper"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <!-- web services worden vervangen door klasses uit de IOC-container -->
  <serviceHelper>
    <serviceProviders>
      <add name="ioc" type="Chiro.Cdf.ServiceHelper.IocServiceProvider, Chiro.Cdf.ServiceHelper" />
    </serviceProviders>
  </serviceHelper>

  <unity>
    <containers>
      <container>
        <types>
          <!-- voorlopig mocken we niets via de configuratie -->
        </types>
      </container>
    </containers>
  </unity>
  
</configuration>