ALTER TABLE kipAansluiting ADD GroepID INT;

UPDATE a
SET a.GroepID = cg.GroepID
FROM kipAansluiting a JOIN grp.ChiroGroep cg ON a.StamNr = cg.StamNr

CREATE TABLE lid.Aansluiting(
	AansluitingID INT NOT NULL IDENTITY(1,1),
	GroepID INT NOT NULL,
	WerkJaar INT NOT NULL,
	VolgNummer INT NOT NULL,
	Datum DATETIME NOT NULL,
	RekeningID INT,
	Wijze CHAR(1) NOT NULL,
	RibbelsJ INT,
	RibbelsM INT,
	SpeelClubJ INT,
	SpeelClubM INT,
	RakwisJ INT,
	RakwisM	INT,
	TitosJ INT,
	TitosM INT,
	KetisJ INT,
	KetisM INT,
	AspisJ INT,
	AspisM INT,
	LeidingJ INT NOT NULL,
	LeidingM INT NOT NULL,
	Vb INT NOT NULL,
	Proost INT NOT NULL,
	Freelance INT NOT NULL,
	SolidariteitsBijdrageBef INT,
	SolidariteitsBijdrage INT,
	Noot VARCHAR(160),
  Stempel DATETIME,
	PRIMARY KEY (AansluitingID),
	FOREIGN KEY (GroepID) REFERENCES grp.groep(GroepID));

INSERT INTO lid.Aansluiting(GroepID, WerkJaar, VolgNummer, Datum, RekeningID, Wijze, RibbelsJ, RibbelsM,
	SpeelClubJ, SpeelClubM, RakwisJ, RakwisM, TitosJ, TitosM, KetisJ, KetisM, AspisJ, AspisM,
	LeidingJ, LeidingM, Vb, Proost, Freelance, SolidariteitsBijdrageBef, SolidariteitsBijdrage, Stempel, Noot)
SELECT cg.GroepID, WerkJaar, Aansl_Nr, Datum, R_Ref, Wijze, 
	Pink_J, Pink_M,
	Speelcl_J, Speelcl_M,
	Rakwi_J, Rakwi_M, Tito_J, Tito_M, Keti_J, Keti_M, Aspi_J, Aspi_M, Leid_J, Leid_M, 
	CASE WHEN Vb > 0 THEN Vb ELSE 0 END, 
	CASE WHEN Proost > 0 THEN Proost ELSE 0 END,
	CASE WHEN Freelance > 0 THEN Freelance ELSE 0 END, 
	SolBij_Bef, SolBij_Eur, a.Stempel, a.Nota
FROM kipAansluiting a JOIN grp.ChiroGroep cg ON a.StamNr = cg.StamNr

DROP TABLE kipAansluiting

CREATE VIEW dbo.kipAansluiting AS
SELECT cg.StamNr, VolgNummer AS Aansl_Nr, cg.Type AS GroepType,
	CASE VolgNummer WHEN 1 THEN 'B' ELSE 'A' END AS Aansl_Type,
	Datum, RekeningID AS R_Ref, Wijze, RibbelsJ AS Pink_J, RibbelsM AS Pink_M,
	SpeelclubJ AS SpeelCl_J, SpeelclubM AS SpeelCl_M, RakwisJ AS Rakwi_J, RakwisM AS Rakwi_M,
	TitosJ AS Tito_J, TitosM AS Tito_M, KetisJ AS Keti_J, KetisM AS Keti_M,
	AspisJ AS Aspi_J, AspisM AS Aspi_M, LeidingJ AS Leid_J, LeidingM AS Leid_M, Vb, Proost, Freelance,
	SolidariteitsBijdrageBef AS SolBij_Bef, SolidariteitsBijdrage AS SolBij_Eur, a.Stempel,
	Noot AS Nota, WerkJaar, AansluitingID AS ID
FROM lid.Aansluiting a LEFT OUTER JOIN grp.ChiroGroep cg ON a.GroepID = cg.GroepID