/*
   zaterdag 22 mei 201014:54:12
   User: gap
   Server: GapDB
   Database: kipadmin
   Application: 
*/
USE KIPADMIN
GO

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO

DELETE FROM dbo.kipContactInfo WHERE INFO IS NULL
GO

GO
ALTER TABLE dbo.kipContactInfo
	DROP CONSTRAINT FK__kipContac__Conta__6B1AC8E1
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.kipContactInfo
	DROP CONSTRAINT FK__kipContact__AdNr__6A26A4A8
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.kipContactInfo
	DROP CONSTRAINT DF__kipContac__VolgN__683E5C36
GO
ALTER TABLE dbo.kipContactInfo
	DROP CONSTRAINT DF__kipContac__GeenM__6932806F
GO
CREATE TABLE dbo.Tmp_kipContactInfo
	(
	ContactInfoId int NOT NULL IDENTITY (1, 1),
	AdNr int NOT NULL,
	ContactTypeId int NOT NULL,
	Info varchar(80) NOT NULL,
	VolgNr int NOT NULL,
	GeenMailings bit NOT NULL
	)  ON [PRIMARY]
GO
GRANT DELETE ON dbo.Tmp_kipContactInfo TO KipSyncRole  AS dbo
GO
GRANT DELETE ON dbo.Tmp_kipContactInfo TO KIPADMIN  AS dbo
GO
GRANT DELETE ON dbo.Tmp_kipContactInfo TO SECR  AS dbo
GO
GRANT DELETE ON dbo.Tmp_kipContactInfo TO VRIJGEST  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipContactInfo TO KipSyncRole  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipContactInfo TO KIPADMIN  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipContactInfo TO SECR  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipContactInfo TO VRIJGEST  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipContactInfo TO KipSyncRole  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipContactInfo TO GAST  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipContactInfo TO KIPADMIN  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipContactInfo TO SECR  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipContactInfo TO VRIJGEST  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipContactInfo TO KipSyncRole  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipContactInfo TO KIPADMIN  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipContactInfo TO SECR  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipContactInfo TO VRIJGEST  AS dbo
GO
ALTER TABLE dbo.Tmp_kipContactInfo ADD CONSTRAINT
	DF__kipContac__VolgN__683E5C36 DEFAULT ((1)) FOR VolgNr
GO
ALTER TABLE dbo.Tmp_kipContactInfo ADD CONSTRAINT
	DF__kipContac__GeenM__6932806F DEFAULT ((0)) FOR GeenMailings
GO
SET IDENTITY_INSERT dbo.Tmp_kipContactInfo ON
GO
IF EXISTS(SELECT * FROM dbo.kipContactInfo)
	 EXEC('INSERT INTO dbo.Tmp_kipContactInfo (ContactInfoId, AdNr, ContactTypeId, Info, VolgNr, GeenMailings)
		SELECT ContactInfoId, AdNr, ContactTypeId, Info, VolgNr, GeenMailings FROM dbo.kipContactInfo WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_kipContactInfo OFF
GO
DROP TABLE dbo.kipContactInfo
GO
EXECUTE sp_rename N'dbo.Tmp_kipContactInfo', N'kipContactInfo', 'OBJECT' 
GO
ALTER TABLE dbo.kipContactInfo ADD CONSTRAINT
	PK__kipContactInfo__665613C4 PRIMARY KEY CLUSTERED 
	(
	ContactInfoId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.kipContactInfo ADD CONSTRAINT
	UQ__kipContactInfo__674A37FD UNIQUE NONCLUSTERED 
	(
	AdNr,
	ContactTypeId,
	VolgNr
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX ContactInfo_ContactTypeId_AdNr_VolgNr_ContactInfoId ON dbo.kipContactInfo
	(
	ContactTypeId,
	AdNr,
	VolgNr,
	ContactInfoId
	) INCLUDE (Info, GeenMailings) 
 WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX ContactInfo_ContactTypeId_VolgNr_AdNr_ContactInfoId ON dbo.kipContactInfo
	(
	ContactTypeId,
	VolgNr,
	AdNr,
	ContactInfoId
	) INCLUDE (Info) 
 WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX ContactInfo_ContactTypeId_VolgNr_AdNr ON dbo.kipContactInfo
	(
	ContactTypeId,
	VolgNr,
	AdNr
	) INCLUDE (Info) 
 WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.kipContactInfo ADD CONSTRAINT
	FK__kipContact__AdNr__6A26A4A8 FOREIGN KEY
	(
	AdNr
	) REFERENCES dbo.kipPersoon
	(
	AdNr
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.kipContactInfo ADD CONSTRAINT
	FK__kipContac__Conta__6B1AC8E1 FOREIGN KEY
	(
	ContactTypeId
	) REFERENCES dbo.kipContactType
	(
	ContactTypeId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
DENY UPDATE ON dbo.kipContactInfo(ContactInfoId) TO lists  AS dbo 
GO
DENY UPDATE ON dbo.kipContactInfo(AdNr) TO lists  AS dbo 
GO
DENY UPDATE ON dbo.kipContactInfo(ContactTypeId) TO lists  AS dbo 
GO
DENY UPDATE ON dbo.kipContactInfo(Info) TO lists  AS dbo 
GO
DENY UPDATE ON dbo.kipContactInfo(VolgNr) TO lists  AS dbo 
GO
GRANT UPDATE ON dbo.kipContactInfo(GeenMailings) TO lists WITH GRANT OPTION AS dbo
GO
COMMIT
