/* 
 * Script om KipAdmin aan te passen voor KipSync
 *
 */

-- DROP

USE KipAdmin
GO

DECLARE @RoleName sysname
set @RoleName = N'KipSyncRole'
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = @RoleName AND type = 'R')
Begin
	DECLARE @RoleMemberName sysname
	DECLARE Member_Cursor CURSOR FOR
	select [name]
	from sys.database_principals 
	where principal_id in ( 
		select member_principal_id 
		from sys.database_role_members 
		where role_principal_id in (
			select principal_id
			FROM sys.database_principals where [name] = @RoleName  AND type = 'R' ))

	OPEN Member_Cursor;

	FETCH NEXT FROM Member_Cursor
	into @RoleMemberName

	WHILE @@FETCH_STATUS = 0
	BEGIN

		exec sp_droprolemember @rolename=@RoleName, @membername= @RoleMemberName

		FETCH NEXT FROM Member_Cursor
		into @RoleMemberName
	END;

	CLOSE Member_Cursor;
	DEALLOCATE Member_Cursor;
End

GO

IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'KipSyncRole' AND type = 'R')
DROP ROLE [KipSyncRole]
GO


IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'KipSyncApp')
DROP USER [KipSyncApp]
GO

USE [master]
GO

IF  EXISTS (SELECT * FROM sys.server_principals WHERE name = N'KipSyncApp')
DROP LOGIN [KipSyncApp]
GO

-- CREATE


-- Add user
USE [master]
GO
CREATE LOGIN [KipSyncApp] WITH PASSWORD=N'KipSyncApp', DEFAULT_DATABASE=[kipadmin], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
USE [kipadmin]
GO
CREATE USER [KipSyncApp] FOR LOGIN [KipSyncApp]
GO
USE [kipadmin]
GO
ALTER USER [KipSyncApp] WITH DEFAULT_SCHEMA=[db_owner]
GO

-- Add role
CREATE ROLE [KipSyncRole] AUTHORIZATION [dbo]
GO
EXEC sp_addrolemember N'KipSyncRole', N'KipSyncApp'
GO

-- Role rights
GRANT SELECT ON [grp].[Groep] TO [KipSyncRole]
GO
GRANT SELECT ON [dbo].[kipFunctie] TO [KipSyncRole]
GO
GRANT SELECT ON [dbo].[kipAdresType] TO [KipSyncRole]
GO
GRANT INSERT ON [dbo].[kipAdres] TO [KipSyncRole] 
GO
GRANT SELECT ON [dbo].[kipAdres] TO [KipSyncRole] 
GO
GRANT UPDATE ON [dbo].[kipAdres] TO [KipSyncRole] 
GO
GRANT DELETE ON [dbo].[kipHeeftFunctie] TO [KipSyncRole] 
GO
GRANT INSERT ON [dbo].[kipHeeftFunctie] TO [KipSyncRole] 
GO
GRANT SELECT ON [dbo].[kipHeeftFunctie] TO [KipSyncRole] 
GO
GRANT UPDATE ON [dbo].[kipHeeftFunctie] TO [KipSyncRole] 
GO
GRANT DELETE ON [dbo].[kipWoont] TO [KipSyncRole] 
GO
GRANT INSERT ON [dbo].[kipWoont] TO [KipSyncRole] 
GO
GRANT SELECT ON [dbo].[kipWoont] TO [KipSyncRole] 
GO
GRANT UPDATE ON [dbo].[kipWoont] TO [KipSyncRole] 
GO
GRANT DELETE ON [dbo].[kipContactInfo] TO [KipSyncRole] 
GO
GRANT INSERT ON [dbo].[kipContactInfo] TO [KipSyncRole] 
GO
GRANT SELECT ON [dbo].[kipContactInfo] TO [KipSyncRole] 
GO
GRANT UPDATE ON [dbo].[kipContactInfo] TO [KipSyncRole] 
GO
GRANT INSERT ON [dbo].[kipPersoon] TO [KipSyncRole] 
GO
GRANT SELECT ON [dbo].[kipPersoon] TO [KipSyncRole] 
GO
GRANT UPDATE ON [dbo].[kipPersoon] TO [KipSyncRole] 
GO
GRANT INSERT ON [lid].[Lid] TO [KipSyncRole] 
GO
GRANT SELECT ON [lid].[Lid] TO [KipSyncRole] 
GO
GRANT UPDATE ON [lid].[Lid] TO [KipSyncRole] 
GO
GRANT SELECT ON [grp].[ChiroGroep] TO [KipSyncRole] 
GO


