/*
   zaterdag 22 mei 201015:41:17
   User: gap
   Server: GapDB
   Database: kipadmin
   Application: 
*/
use [kipadmin]
GO

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO

delete
  FROM [dbo].[kipHeeftFunctie]
  where leidkad is null
  or functie is null
GO  
  
  
ALTER TABLE dbo.kipHeeftFunctie
	DROP CONSTRAINT FK__kipHeeftF__funct__4341E1B1
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.kipHeeftFunctie
	DROP CONSTRAINT FK__kipHeeftF__leidk__424DBD78
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_kipHeeftFunctie
	(
	id int NOT NULL IDENTITY (1, 1),
	leidkad int NOT NULL,
	functie int NOT NULL,
	Versie timestamp NOT NULL
	)  ON [PRIMARY]
GO
GRANT DELETE ON dbo.Tmp_kipHeeftFunctie TO KipSyncRole  AS dbo
GO
GRANT DELETE ON dbo.Tmp_kipHeeftFunctie TO KIPADMIN  AS dbo
GO
GRANT DELETE ON dbo.Tmp_kipHeeftFunctie TO SECR  AS dbo
GO
GRANT DELETE ON dbo.Tmp_kipHeeftFunctie TO VRIJGEST  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipHeeftFunctie TO KipSyncRole  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipHeeftFunctie TO GAST  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipHeeftFunctie TO KIPADMIN  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipHeeftFunctie TO SECR  AS dbo
GO
GRANT INSERT ON dbo.Tmp_kipHeeftFunctie TO VRIJGEST  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipHeeftFunctie TO KipSyncRole  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipHeeftFunctie TO GAST  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipHeeftFunctie TO KIPADMIN  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipHeeftFunctie TO SECR  AS dbo
GO
GRANT SELECT ON dbo.Tmp_kipHeeftFunctie TO VRIJGEST  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipHeeftFunctie TO KipSyncRole  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipHeeftFunctie TO GAST  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipHeeftFunctie TO KIPADMIN  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipHeeftFunctie TO SECR  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_kipHeeftFunctie TO VRIJGEST  AS dbo
GO
SET IDENTITY_INSERT dbo.Tmp_kipHeeftFunctie ON
GO
IF EXISTS(SELECT * FROM dbo.kipHeeftFunctie)
	 EXEC('INSERT INTO dbo.Tmp_kipHeeftFunctie (id, leidkad, functie)
		SELECT id, leidkad, functie FROM dbo.kipHeeftFunctie WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_kipHeeftFunctie OFF
GO
DROP TABLE dbo.kipHeeftFunctie
GO
EXECUTE sp_rename N'dbo.Tmp_kipHeeftFunctie', N'kipHeeftFunctie', 'OBJECT' 
GO
ALTER TABLE dbo.kipHeeftFunctie ADD CONSTRAINT
	PK__kipHeeftFunctie__4159993F PRIMARY KEY NONCLUSTERED 
	(
	id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE UNIQUE CLUSTERED INDEX HeeftFunctieLeidkadFunctie ON dbo.kipHeeftFunctie
	(
	functie,
	leidkad
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.kipHeeftFunctie ADD CONSTRAINT
	FK__kipHeeftF__leidk__424DBD78 FOREIGN KEY
	(
	leidkad
	) REFERENCES lid.Lid
	(
	id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.kipHeeftFunctie ADD CONSTRAINT
	FK__kipHeeftF__funct__4341E1B1 FOREIGN KEY
	(
	functie
	) REFERENCES dbo.kipFunctie
	(
	id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
CREATE TRIGGER [dbo].[TR_HeeftFunctie_UniekeFuncties_AfterIU]
ON dbo.kipHeeftFunctie AFTER INSERT,UPDATE AS
-- doel: zorg ervoor dat unieke functies binnen groep uniek blijven
-- (wis zo nodig de functie bij iemand anders)
BEGIN
	DELETE hf2
	FROM kipFunctie f 
		JOIN inserted hf1 ON f.Id = hf1.Functie
		JOIN lid.Lid l1 ON hf1.LeidKad = l1.Id
		JOIN lid.Lid l2 ON l1.GroepId = l2.GroepId AND l1.WerkJaar = l2.WerkJaar
		JOIN kipHeeftFunctie hf2 ON l2.Id = hf2.LeidKad
	WHERE f.EenPerGroep = 1
		AND hf1.Functie = hf2.Functie
		AND	l1.AdNr <> l2.AdNr
END;
GO
COMMIT
