/*
   zaterdag 22 mei 201016:00:12
   User: gap
   Server: GapDB
   Database: kipadmin
   Application: 
*/
use Kipadmin
go


/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE lid.Lid
	DROP CONSTRAINT FK_Leid_Kad_Persoon
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE lid.Lid
	DROP CONSTRAINT fk_Lid_Groep
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE lid.Lid
	DROP CONSTRAINT DF__leid_kad__werkja__3651FAE7
GO
CREATE TABLE lid.Tmp_Lid
	(
	ADNR dbo.ud_Adnr NOT NULL,
	SOORT varchar(2) NOT NULL,
	AFDELING1 varchar(1) NULL,
	AFDELING2 varchar(1) NULL,
	AANSL_NR smallint NULL,
	VERZ_NR smallint NULL,
	EXTRA_VERZ smallint NULL,
	FREELANCE dbo.ud_Boolean NULL,
	ACTIEF dbo.ud_Boolean NULL,
	LIDKAART dbo.ud_Boolean NULL,
	IK_SB varchar(2) NULL,
	AANTAL_JA dbo.ud_Jaartal NULL,
	STATUS varchar(5) NULL,
	STEMPEL smalldatetime NULL,
	KB_EMAIL dbo.ud_Boolean NULL,
	MAILING_TOEVOEG bit NULL,
	WEB_TOEVOEG bit NULL,
	werkjaar decimal(5, 0) NOT NULL,
	id int NOT NULL IDENTITY (1, 1),
	GroepID int NOT NULL,
	Versie timestamp NOT NULL
	)  ON [PRIMARY]
GO
GRANT DELETE ON lid.Tmp_Lid TO KIPADMIN  AS dbo
GO
GRANT DELETE ON lid.Tmp_Lid TO SECR  AS dbo
GO
GRANT DELETE ON lid.Tmp_Lid TO VRIJGEST  AS dbo
GO
GRANT INSERT ON lid.Tmp_Lid TO IntraKader  AS dbo
GO
GRANT INSERT ON lid.Tmp_Lid TO KipSyncRole  AS dbo
GO
GRANT INSERT ON lid.Tmp_Lid TO KIPADMIN  AS dbo
GO
GRANT INSERT ON lid.Tmp_Lid TO SECR  AS dbo
GO
GRANT INSERT ON lid.Tmp_Lid TO VRIJGEST  AS dbo
GO
GRANT SELECT ON lid.Tmp_Lid TO IntraKader  AS dbo
GO
GRANT SELECT ON lid.Tmp_Lid TO KipSyncRole  AS dbo
GO
GRANT SELECT ON lid.Tmp_Lid TO GAST  AS dbo
GO
GRANT SELECT ON lid.Tmp_Lid TO KIPADMIN  AS dbo
GO
GRANT SELECT ON lid.Tmp_Lid TO SECR  AS dbo
GO
GRANT SELECT ON lid.Tmp_Lid TO VRIJGEST  AS dbo
GO
GRANT UPDATE ON lid.Tmp_Lid TO IntraKader  AS dbo
GO
GRANT UPDATE ON lid.Tmp_Lid TO KipSyncRole  AS dbo
GO
GRANT UPDATE ON lid.Tmp_Lid TO KIPADMIN  AS dbo
GO
GRANT UPDATE ON lid.Tmp_Lid TO SECR  AS dbo
GO
GRANT UPDATE ON lid.Tmp_Lid TO VRIJGEST  AS dbo
GO
ALTER TABLE lid.Tmp_Lid ADD CONSTRAINT
	DF__leid_kad__werkja__3651FAE7 DEFAULT ([dbo].[werkjaar](getdate())) FOR werkjaar
GO
SET IDENTITY_INSERT lid.Tmp_Lid ON
GO
IF EXISTS(SELECT * FROM lid.Lid)
	 EXEC('INSERT INTO lid.Tmp_Lid (ADNR, SOORT, AFDELING1, AFDELING2, AANSL_NR, VERZ_NR, EXTRA_VERZ, FREELANCE, ACTIEF, LIDKAART, IK_SB, AANTAL_JA, STATUS, STEMPEL, KB_EMAIL, MAILING_TOEVOEG, WEB_TOEVOEG, werkjaar, id, GroepID)
		SELECT ADNR, SOORT, AFDELING1, AFDELING2, AANSL_NR, VERZ_NR, EXTRA_VERZ, FREELANCE, ACTIEF, LIDKAART, IK_SB, AANTAL_JA, STATUS, STEMPEL, KB_EMAIL, MAILING_TOEVOEG, WEB_TOEVOEG, werkjaar, id, GroepID FROM lid.Lid WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT lid.Tmp_Lid OFF
GO
ALTER TABLE dbo.kipHeeftFunctie
	DROP CONSTRAINT FK__kipHeeftF__leidk__424DBD78
GO
DROP TABLE lid.Lid
GO
EXECUTE sp_rename N'lid.Tmp_Lid', N'Lid', 'OBJECT' 
GO
ALTER TABLE lid.Lid ADD CONSTRAINT
	pk_leidingkader PRIMARY KEY CLUSTERED 
	(
	id
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX IDX_Lid_Id_GroepId_Soort_WerkJaar_AdNr ON lid.Lid
	(
	id,
	GroepID,
	SOORT,
	werkjaar,
	ADNR
	) INCLUDE (ACTIEF) 
 WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDX_Lid_Soort_GroepId_Id_WerkJaar_AdNr ON lid.Lid
	(
	SOORT,
	GroepID,
	id,
	werkjaar,
	ADNR
	) INCLUDE (ACTIEF) 
 WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDX_Lid_GroepId_Soort_Id_WerkJaar_AdNr ON lid.Lid
	(
	GroepID,
	SOORT,
	id,
	werkjaar,
	ADNR
	) INCLUDE (ACTIEF) 
 WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX Lid_Soort_Id_GroepId ON lid.Lid
	(
	SOORT,
	id,
	GroepID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX AK_Lid_AdNr_GroepID_WerkJaar ON lid.Lid
	(
	ADNR,
	GroepID,
	werkjaar
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDX_Lid_Afdeling1_Soort_WerkJaar_GroepId_AdNr ON lid.Lid
	(
	AFDELING1,
	SOORT,
	werkjaar,
	GroepID,
	ADNR
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE lid.Lid ADD CONSTRAINT
	fk_Lid_Groep FOREIGN KEY
	(
	GroepID
	) REFERENCES grp.Groep
	(
	GroepID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE lid.Lid ADD CONSTRAINT
	FK_Leid_Kad_Persoon FOREIGN KEY
	(
	ADNR
	) REFERENCES dbo.kipPersoon
	(
	AdNr
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.kipHeeftFunctie ADD CONSTRAINT
	FK__kipHeeftF__leidk__424DBD78 FOREIGN KEY
	(
	leidkad
	) REFERENCES lid.Lid
	(
	id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
