<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="PerThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="PerOperationContext" type="Chiro.Cdf.UnityWcfExtensions.UnityOperationContextLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />
    <alias alias="PerInstanceContext" type="Chiro.Cdf.UnityWcfExtensions.UnityInstanceContextLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />
    <alias alias="PerContextChannel" type="Chiro.Cdf.UnityWcfExtensions.UnityContextChannelLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />
    <alias alias="PerServiceHostBase" type="Chiro.Cdf.UnityWcfExtensions.UnityServiceHostBaseLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />

    <container>
      <register type="Chiro.CiviCrm.ClientInterfaces.ICiviCrmClient, Chiro.CiviCrm.ClientInterfaces" mapTo="Chiro.CiviCrm.Client.CiviCrmClient, Chiro.CiviCrm.Client">
        <lifetime type="PerOperationContext" />
      </register>
    </container>
  </unity>

  <system.serviceModel>

    <bindings>
      <netMsmqBinding>
        <!-- Binding voor message queue, voor deze service. Voorlopig zonder security, op termijn met. -->
        <binding name="NoMsmqSecurity" receiveTimeout="2.00:00:00" receiveErrorHandling="Fault" timeToLive="14.00:00:00">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <webHttpBinding>
        <!-- Deze binding is nodig als je HTTPS wilt gebruiken -->
        <!-- Chirocivi-specifiek: als je een foutmelding krijgt dat het endpoint niet gevonden wordt,
             controleer dan of je niet geredirect wordt naar https://login.chiro.be -->
        <binding name="CiviBindingConfiguration">
          <security mode="Transport" />
          <!-- None voor http, Transport voor https -->
        </binding>
      </webHttpBinding>
    </bindings>

    <client>
      <!-- Deze toepassing is client voor civicrm. Hieronder: de url voor de civi-API -->
      <endpoint address="https://civistaging.chiro.be/sites/all/modules/civicrm/extern/rest.php" bindingConfiguration="CiviBindingConfiguration" binding="webHttpBinding" behaviorConfiguration="civiCrm" contract="Chiro.CiviCrm.Api.ICiviCrmApi" />
    </client>

    <services>
      <service behaviorConfiguration="SyncServiceBehavior" name="Chiro.CiviSync.Services.SyncService">
        <endpoint address="net.msmq://localhost/private/civisyncstg" binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity" contract="Chiro.Kip.ServiceContracts.ISyncPersoonService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/civisyncstg" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <!-- truken om Unity te gebruiken bij het instantieren van de WCF service -->
        <add name="unity" type="Chiro.Cdf.UnityWcfExtensions.UnityBehaviorExtensionElement, Chiro.Cdf.UnityWcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <!-- In the line below, the part 'Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' seems NECESSARY -->
        <add name="civiWebHttp" type="Chiro.CiviCrm.BehaviorExtension.CiviWebHttpBehaviorExtensionElement, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SyncServiceBehavior">
          <unity operationContextEnabled="true" instanceContextEnabled="false" />
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="civiCrm">
          <!-- Die nullableWebHttp is een custom behavior extension; zie Chiro.CiviCrm.BehaviorExtension -->
          <civiWebHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
