<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="PerThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="PerOperationContext" type="Chiro.Cdf.UnityWcfExtensions.UnityOperationContextLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />
    <alias alias="PerInstanceContext" type="Chiro.Cdf.UnityWcfExtensions.UnityInstanceContextLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />
    <alias alias="PerContextChannel" type="Chiro.Cdf.UnityWcfExtensions.UnityContextChannelLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />
    <alias alias="PerServiceHostBase" type="Chiro.Cdf.UnityWcfExtensions.UnityServiceHostBaseLifetimeManager, Chiro.Cdf.UnityWcfExtensions" />

    <container>
      <!-- channelProvider -->
      <register type="Chiro.Cdf.ServiceHelper.IChannelProvider, Chiro.Cdf.ServiceHelper" mapTo="Chiro.Cdf.ServiceHelper.ChannelFactoryChannelProvider, Chiro.Cdf.Servicehelper">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Gap.Log.IMiniLog, Chiro.Gap.Log" mapTo="Chiro.Gap.Log.MiniLog, Chiro.Gap.Log">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Gap.Log.IMiniLog, Chiro.Gap.Log" mapTo="Chiro.Gap.Log.MiniLog, Chiro.Gap.Log">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.CiviSync.Logic.IDatumProvider, Chiro.CiviSync.Logic" mapTo="Chiro.CiviSync.Logic.DatumProvider, Chiro.CiviSync.Logic">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Gap.UpdateApi.Client.IGapUpdateClient, Chiro.Gap.UpdateApi.Client" mapTo="Chiro.Gap.UpdateApi.Client.GapUpdateClient, Chiro.Gap.UpdateApi.Client">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Mailchimp.Sync.IChimpSyncHelper, Chiro.Mailchimp.Sync" mapTo="Chiro.Mailchimp.Sync.ChimpSyncHelper, Chiro.Mailchimp.Sync">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.CiviSync.Workers.ICiviCache, Chiro.CiviSync.Workers" mapTo="Chiro.CiviSync.Workers.CiviCache, Chiro.CiviSync.Workers">
        <lifetime type="PerOperationContext" />
      </register>
    </container>
  </unity>

  <system.serviceModel>

    <bindings>
      <netMsmqBinding>
        <!-- Binding voor message queue, voor deze service. Voorlopig zonder security, op termijn met. -->
        <binding name="NoMsmqSecurity" receiveTimeout="2.00:00:00" receiveErrorHandling="Fault" timeToLive="14.00:00:00">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <webHttpBinding>
        <!-- Chirocivi-specifiek: als je een foutmelding krijgt dat het endpoint niet gevonden wordt,
             controleer dan of je niet geredirect wordt naar https://login.chiro.be -->
        <binding name="CiviBindingConfiguration" contentTypeMapper="Chiro.CiviCrm.BehaviorExtension.MyRawMapper, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <security mode="Transport" />
          <!-- None voor http, Transport voor https -->
        </binding>
      </webHttpBinding>
    </bindings>

    <client>
      <!-- Deze toepassing is client voor civicrm. Hieronder: de url voor de civi-API -->
      <endpoint address="https://civistaging.chiro.be/sites/all/modules/civicrm/extern/rest.php" bindingConfiguration="CiviBindingConfiguration" binding="webHttpBinding" behaviorConfiguration="civiCrm" contract="Chiro.CiviCrm.Api.ICiviCrmApi" />
    </client>

    <services>
      <service behaviorConfiguration="SyncServiceBehavior" name="Chiro.CiviSync.Services.SyncService">
        <endpoint address="net.msmq://localhost/private/civisyncstg" binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity" contract="Chiro.Kip.ServiceContracts.ISyncPersoonService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/civisyncstg" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <!-- truken om Unity te gebruiken bij het instantieren van de WCF service -->
        <add name="unity" type="Chiro.Cdf.UnityWcfExtensions.UnityBehaviorExtensionElement, Chiro.Cdf.UnityWcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <!-- In the line below, the part 'Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' seems NECESSARY -->
        <add name="CiviWebHttp" type="Chiro.CiviCrm.BehaviorExtension.CiviWebHttpBehaviorExtensionElement, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SyncServiceBehavior">
          <!-- vergeet niet de unity behavior extension te gebruiken: -->
          <unity operationContextEnabled="true" instanceContextEnabled="false" />
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!-- hoogstens 1 call tegelijk, om te vermijden dat een bivakadres eerder bewaard wordt dan het bivak. -->
          <serviceThrottling maxConcurrentCalls="1" maxConcurrentSessions="10" maxConcurrentInstances="1"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CiviBehaviorConfiguration">
          <!-- Die CiviWebHttp is een custom behavior extension; zie Chiro.CiviCrm.BehaviorExtension -->
          <CiviWebHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
