<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="container">
        <types>
          <!-- Standaard AutorisatieManagerAltijdGav; override waar nodig. -->
          <type type="Chiro.Gap.Workers.IAutorisatieManager, Chiro.Gap.Workers"
                mapTo="Chiro.Gap.Dummies.AutMgrAltijdGav, Chiro.Gap.Dummies" />
          <!-- BELANGRIJK: map standaard naar dummy's die niets implementeren.
               Heb je toch een andere implementatie nodig, koppel die dan at
               runtime aan de IOC container.
               
               Het is ook niet de bedoeling dat de tests in dit project wijzigingen
               toebrengen aan de database.  Hier mag enkel de business getest worden.
               Wil je tests maken die wel naar de database mogen schrijven, doe dat dan
               in een ander project.
          -->
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyGroepenDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Cdf.Data.IDao`1, Chiro.Cdf.Data"
                mapTo="Chiro.Gap.Dummies.DummyDao`1, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGelieerdePersonenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyGelieerdePersonenDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ICategorieenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyCategorieenDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingsJarenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyAfdelingsJarenDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILedenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyLedenDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IKindDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyKindDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILeidingDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyLeidingDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepsWerkJaarDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyGroepsWerkJaarDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyAfdelingenDao, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IFunctiesDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.DummyFunctiesDao, Chiro.Gap.Dummies" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>