-- Maak de PK van Lid aan als Clustered


BEGIN TRANSACTION


ALTER TABLE lid.LidFunctie
	DROP CONSTRAINT FK_LidFunctie_Lid

ALTER TABLE lid.Leiding
	DROP CONSTRAINT FK_Leiding_Lid

ALTER TABLE lid.Kind
	DROP CONSTRAINT FK_Kind_Lid

ALTER TABLE lid.Lid
	DROP CONSTRAINT PK_Lid

ALTER TABLE lid.Lid ADD CONSTRAINT
	PK_Lid PRIMARY KEY CLUSTERED 
	(
	LidID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

ALTER TABLE lid.Kind ADD CONSTRAINT
	FK_Kind_Lid FOREIGN KEY
	(
	kindID
	) REFERENCES lid.Lid
	(
	LidID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	

ALTER TABLE lid.Leiding ADD CONSTRAINT
	FK_Leiding_Lid FOREIGN KEY
	(
	leidingID
	) REFERENCES lid.Lid
	(
	LidID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	

ALTER TABLE lid.LidFunctie ADD CONSTRAINT
	FK_LidFunctie_Lid FOREIGN KEY
	(
	LidID
	) REFERENCES lid.Lid
	(
	LidID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
COMMIT
