<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cg2.Dao.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="Cg2.Orm.DataInterfaces.IAuthorisatieDao, Cg2.Orm"
                mapTo="Cg2.DummyDaos.AuthDaoAltijdGav, Cg2.DummyDaos" /> <!-- altijd GAV voor deze tests -->
          <type type="Cg2.Orm.DataInterfaces.IAdressenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.AdressenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IStratenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.StratenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.ISubgemeenteDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.SubgemeenteDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IGelieerdePersonenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.GelieerdePersonenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IPersonenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.PersonenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.ILedenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.LedenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IKindDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.KindDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.ILeidingDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.LeidingDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IGroepenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.GroepenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IDao`1, Cg2.Orm"
                mapTo="Cg2.Data.Ef.Dao`1, Cg2.Data" />
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSERVER;Initial Catalog=Chirogroep;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Cg2.Dao.Test.Properties.Settings>
      <setting name="TestGroepID" serializeAs="String">
        <value>317</value>
      </setting>
      <setting name="TestAfdelingID" serializeAs="String">
        <value>37</value>
      </setting>
      <setting name="TestGroepsWerkJaarID" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="TestAfdeling2ID" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="TestOfficieleAfdelingID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TestAfdeling2Van" serializeAs="String">
        <value>2001</value>
      </setting>
      <setting name="TestAfdeling2Tot" serializeAs="String">
        <value>1998</value>
      </setting>
      <setting name="TestZoekNaam" serializeAs="String">
        <value>Bosmans</value>
      </setting>
      <setting name="TestNieuwePersoonNaam" serializeAs="String">
        <value>Perens</value>
      </setting>
      <setting name="TestNieuwePersoonVoornaam" serializeAs="String">
        <value>Clement</value>
      </setting>
      <setting name="TestTeVerwijderenVoornaam" serializeAs="String">
        <value>Silvain</value>
      </setting>
      <setting name="TestGelieerdePersoonID" serializeAs="String">
        <value>917</value>
      </setting>
      <setting name="TestAfdelingsJaarID" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="TestGelieerdePersoon2ID" serializeAs="String">
        <value>918</value>
      </setting>
    </Cg2.Dao.Test.Properties.Settings>
  </userSettings>
</configuration>