<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cg2.Dao.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSERVER;Initial Catalog=Chirogroep;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Cg2.Dao.Test.Properties.Settings>
      <setting name="TestGroepID" serializeAs="String">
        <value>317</value>
      </setting>
      <setting name="TestAfdelingID" serializeAs="String">
        <value>37</value>
      </setting>
      <setting name="TestGroepsWerkJaarID" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="TestAfdeling2ID" serializeAs="String">
        <value>40</value>
      </setting>
    </Cg2.Dao.Test.Properties.Settings>
  </userSettings>
</configuration>