<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- LET OP!! Je wil waarschijnljk de connection string in Chiro.Gap.InitieleImport wijzigen, ipv de deze! -->
    <add name="gapdb" providerName="System.Data.Sql" connectionString="Data Source=devserver.chiro.lokaal;Initial Catalog=gap1rc1;User ID=gap1rc1;Password=gap1rc1;Appication Name=GapImportGod"/>
  </connectionStrings>
</configuration>