<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="Chiro.Cdf.Authentication.Dev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Chiro.Cdf.Authentication.DevDummy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chiro.Cdf.Authentication.Dev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        
        <Chiro.Cdf.Authentication.Dev.Properties.Settings>
            <setting name="TestAdNr" serializeAs="String">
                <value>18</value>
            </setting>
        </Chiro.Cdf.Authentication.Dev.Properties.Settings>
        <Chiro.Cdf.Authentication.DevDummy.Properties.Settings>
            <setting name="TestAdNr" serializeAs="String">
                <value>18</value>
            </setting>
        </Chiro.Cdf.Authentication.DevDummy.Properties.Settings>
    </userSettings>
<applicationSettings>
        <Chiro.Cdf.Authentication.Dev.Properties.Settings>
                <setting name="DrupalDevRole" serializeAs="String">
                        <value>Toegang tot GAP-staging</value>
                </setting>
        </Chiro.Cdf.Authentication.Dev.Properties.Settings>
    </applicationSettings>
</configuration>