<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type type="Algemeen.Data.IRepository, Algemeen.Data" mapTo="Algemeen.Data.Entity.RepositoryBase, Algemeen.Data.Entity, Version=1.0.0.0, Culture=neutral" />
          <type type="Algemeen.Data.Entity.IDbContext, Algemeen.Data.Entity" mapTo="KipTest.Data.TestDbContext, KipTest.Data, Version=1.0.0.0, Culture=neutral" />
        </types>
      </container>
    </containers>
  </unity>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="DIServiceBehaviorExtension" type="Algemeen.DependencyInjectionBehavior.DIServiceBehaviorSection, Algemeen.DependencyInjectionBehavior, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <DIServiceBehaviorExtension />
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
