<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chiro.Gap.Workers.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSERVER;Initial Catalog=Chirogroep;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Chiro.Gap.Workers.Test.Properties.Settings>
      <setting name="TestGroepsWerkJaarID" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="TestGav1" serializeAs="String">
        <value>yvonne</value>
      </setting>
      <setting name="TestAdNummer" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TestGelieerdePersoonID" serializeAs="String">
        <value>2</value>
      </setting>
    </Chiro.Gap.Workers.Test.Properties.Settings>
  </userSettings>
  <unity>
    <containers>
      <container name="container">
        <types>
          <!-- map standaard naar dummy's die niets implementeren -->
          <type type="Chiro.Gap.Orm.DataInterfaces.IKindDao, Chiro.Gap.Orm"
                mapTo="Cg2.Dummies.DummyKindDao, Cg2.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILeidingDao, Chiro.Gap.Orm"
                mapTo="Cg2.Dummies.DummyLeidingDao, Cg2.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepenDao, Chiro.Gap.Orm"
                mapTo="Cg2.Dummies.DummyGroepenDao, Cg2.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IPersonenDao, Chiro.Gap.Orm"
                mapTo="Cg2.Dummies.DummyPersonenDao, Cg2.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGelieerdePersonenDao, Chiro.Gap.Orm"
                mapTo="Cg2.Dummies.DummyGelieerdePersonenDao, Cg2.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingsJarenDao, Chiro.Gap.Orm"
                mapTo="Cg2.Dummies.DummyAfdelingsJarenDao, Cg2.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ICategorieenDao, Chiro.Gap.Orm"
                mapTo="Cg2.Dummies.DummyCategorieenDao, Cg2.Dummies" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IDao`1, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.Dao`1, Chiro.Gap.Data" />
        </types>                        
      </container>
    </containers>
  </unity>  
</configuration>