<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage<MvcWebApp2.Models.MasterViewModel>" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%=Html.Encode(ViewData.Model.Title) %></title>
    <asp:ContentPlaceHolder ID="head" runat="server" />
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1><%=Html.Encode(ViewData.Model.Groepsnaam) %>
                    </h1>
                <p>
                    <%=Html.Encode(ViewData.Model.Plaats)%> | Stamnr: <%=Html.Encode(ViewData.Model.StamNummer) %></p>
            </div>
            <div id="logindisplay">
                Aangemeld als
                <% =System.Web.HttpContext.Current.User.Identity.Name %>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li><%= Html.ActionLink("Personen", "Index", "Personen")%></li>
                    <li><%= Html.ActionLink("Leden", "Index", "Leden")%></li>
                    <li><%= Html.ActionLink("Andere Groep", "Index", "Gav")%></li>                    
                </ul>
            </div>
        </div>
        <div id="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
