<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="serviceHelper" type="Chiro.Adf.Configuration.AdfConfigurationSection, Chiro.Adf"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chiro.Gap.Diagnostics.WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <serviceHelper>
    <serviceProviders>
      <add name="wcf" type="Chiro.Adf.ChannelFactoryServiceProvider, Chiro.Adf"/>
    </serviceProviders>
  </serviceHelper>

  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/> 
  </appSettings>

  <!-- Gebruikte web services voor de backend -->
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Chiro.Gap.Diagnostics.WebApp.Models.FunctiesIndexModelAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Chiro.Gap.Diagnostics.WebApp.Models.FunctiesIndexModel">
        <endpoint address="" behaviorConfiguration="Chiro.Gap.Diagnostics.WebApp.Models.FunctiesIndexModelAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Chiro.Gap.Diagnostics.WebApp.Models.FunctiesIndexModel" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ChiroBindingConfiguration" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- live -->
      <!--<endpoint address="http://gapsrv1.chiro.wereld/live/GroepenService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGroepenService"/>
      <endpoint address="http://localhost/GapAdminSvc/AdminService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.Diagnostics.ServiceContracts.IAdminService"/>-->
      <!-- test -->
      <endpoint address="http://devsrv1.chiro.wereld/backend/GroepenService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGroepenService"/>
      <endpoint address="http://localhost:49678/AdminService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.Diagnostics.ServiceContracts.IAdminService"/>
    </client>
  </system.serviceModel>


  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Windows" />
    <identity impersonate="true" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Chiro.Gap.Diagnostics.WebApp.Properties.Settings>
      <setting name="GapUrl" serializeAs="String">
        <value>https://gap.chiro.be/live/{0}</value>
      </setting>
      <setting name="VerdwenenAdressenRapportUrl" serializeAs="String">
        <value>http://kipsrv1.chiro.lokaal/Reports/Pages/Report.aspx?ItemPath=%2fKipadmin%2fproblemen%2fVerdwenen+Adressen</value>
      </setting>
      <setting name="FunctieFoutenRapportUrl" serializeAs="String">
        <value>http://kipsrv1.chiro.lokaal/Reports/Pages/Report.aspx?ItemPath=%2fKipadmin%2fproblemen%2fFunctie-inconsistenties</value>
      </setting>
    </Chiro.Gap.Diagnostics.WebApp.Properties.Settings>
  </applicationSettings>
</configuration>
