<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chiro.Ad.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Chiro.Ad.Domain.Properties.Settings>
            <setting name="LdapWereldRoot" serializeAs="String">
                <value>LDAP://chiro.wereld</value>
            </setting>
            <setting name="LdapLokaalRoot" serializeAs="String">
                <value>LDAP://chiro.lokaal</value>
            </setting>
            <setting name="GapRootOU" serializeAs="String">
                <value>/OU=ChiroAdministratie,DC=Chiro,DC=Wereld</value>
            </setting>
            <setting name="GapOU" serializeAs="String">
                <value>/OU=Gebruikers,OU=ChiroAdministratie,DC=Chiro,DC=Wereld</value>
            </setting>
            <setting name="GapGroepenOU" serializeAs="String">
                <value>/OU=Groepen,OU=ChiroAdministratie,DC=Chiro,DC=Wereld</value>
            </setting>
            <setting name="GapGebruikersGroep" serializeAs="String">
                <value>GapGebruikers</value>
            </setting>
        </Chiro.Ad.Domain.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>