<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chiro.Ad.DirectoryAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chiro.Ad.DirectoryAccess.Properties.Settings>
            <setting name="GapOU" serializeAs="String">
                <value>/OU=Gebruikers,OU=ChiroAdministratie,DC=Chiro,DC=Wereld</value>
            </setting>
        </Chiro.Ad.DirectoryAccess.Properties.Settings>
    </userSettings>
</configuration>