IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'adr')
EXEC sys.sp_executesql N'CREATE SCHEMA [adr] AUTHORIZATION [dbo]'

GO
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'auth')
EXEC sys.sp_executesql N'CREATE SCHEMA [auth] AUTHORIZATION [dbo]'

GO
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'core')
EXEC sys.sp_executesql N'CREATE SCHEMA [core] AUTHORIZATION [dbo]'

GO
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'grp')
EXEC sys.sp_executesql N'CREATE SCHEMA [grp] AUTHORIZATION [dbo]'

GO
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'lid')
EXEC sys.sp_executesql N'CREATE SCHEMA [lid] AUTHORIZATION [dbo]'

GO
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'pers')
EXEC sys.sp_executesql N'CREATE SCHEMA [pers] AUTHORIZATION [dbo]'

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[core].[vHuidigWerkJaar]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [core].[vHuidigWerkJaar]
AS
SELECT     2000 + CASE WHEN dateadd(year, datediff(year, ''2000-08-08'', GetDate()), ''2000-08-08'') > GetDate() THEN datediff(year, 
                      ''2000-08-08'', GetDate()) - 1 ELSE datediff(year, ''2000-08-08'', GetDate()) END AS WerkJaar
' 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[grp].[Groep]') AND type in (N'U'))
BEGIN
CREATE TABLE [grp].[Groep](
	[Naam] [varchar](160) NOT NULL,
	[Code] [char](10) NULL,
	[OprichtingsJaar] [int] NULL,
	[WebSite] [varchar](160) NULL,
	[Logo] [image] NULL,
	[GroepID] [int] IDENTITY(1,1) NOT NULL,
	[Versie] [timestamp] NOT NULL,
 CONSTRAINT [PK_Groep] PRIMARY KEY CLUSTERED 
(
	[GroepID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adr].[Gemeente]') AND type in (N'U'))
BEGIN
CREATE TABLE [adr].[Gemeente](
	[GemeenteID] [int] IDENTITY(1,1) NOT NULL,
	[NisGemeenteCode] [decimal](5, 0) NOT NULL,
	[Taal] [char](2) NOT NULL,
	[Naam] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Gemeente] PRIMARY KEY CLUSTERED 
(
	[GemeenteID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adr].[PostNr]') AND type in (N'U'))
BEGIN
CREATE TABLE [adr].[PostNr](
	[PostNr] [int] NOT NULL,
 CONSTRAINT [PK_PostCode] PRIMARY KEY CLUSTERED 
(
	[PostNr] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[Persoon]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[Persoon](
	[AdNummer] [int] NULL,
	[Naam] [varchar](160) NOT NULL,
	[VoorNaam] [varchar](60) NULL,
	[GeboorteDatum] [smalldatetime] NULL,
	[Geslacht] [int] NOT NULL,
	[SterfDatum] [smalldatetime] NULL,
	[PersoonID] [int] IDENTITY(1,1) NOT NULL,
	[Versie] [timestamp] NULL,
 CONSTRAINT [PK_Persoon] PRIMARY KEY CLUSTERED 
(
	[PersoonID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[CommunicatieType]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[CommunicatieType](
	[Omschrijving] [varchar](80) NULL,
	[Validatie] [varchar](160) NULL,
	[CommunicatieTypeID] [int] NOT NULL,
 CONSTRAINT [PK_CommunicatieType] PRIMARY KEY CLUSTERED 
(
	[CommunicatieTypeID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[AdresType]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[AdresType](
	[Omschrijving] [varchar](80) NULL,
	[AdresTypeID] [int] NOT NULL,
 CONSTRAINT [PK_AdresType] PRIMARY KEY CLUSTERED 
(
	[AdresTypeID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[auth].[Gav]') AND type in (N'U'))
BEGIN
CREATE TABLE [auth].[Gav](
	[GavID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Gav] PRIMARY KEY CLUSTERED 
(
	[GavID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[PersoonsAdres]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[PersoonsAdres](
	[IsStandaard] [bit] NOT NULL,
	[Opmerking] [text] NULL,
	[AdresID] [int] NOT NULL,
	[AdresTypeID] [int] NOT NULL,
	[Versie] [timestamp] NOT NULL,
	[GelieerdePersoonID] [int] NOT NULL,
	[PersoonsAdresID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PersoonsAdres] PRIMARY KEY CLUSTERED 
(
	[PersoonsAdresID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[grp].[GroepsAdres]') AND type in (N'U'))
BEGIN
CREATE TABLE [grp].[GroepsAdres](
	[AdresID] [int] NOT NULL,
	[GroepID] [int] NOT NULL,
 CONSTRAINT [PK_GroepsAdres] PRIMARY KEY CLUSTERED 
(
	[GroepID] ASC,
	[AdresID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[lid].[Lid]') AND type in (N'U'))
BEGIN
CREATE TABLE [lid].[Lid](
	[EindeInstapPeriode] [datetime] NULL,
	[LidgeldBetaald] [bit] NOT NULL CONSTRAINT [DF__Lid__LidgeldBeta__056ECC6A]  DEFAULT ((0)),
	[NonActief] [bit] NOT NULL CONSTRAINT [DF__Lid__NonActief__0662F0A3]  DEFAULT ((0)),
	[Verwijderd] [bit] NOT NULL CONSTRAINT [DF__Lid__Verwijderd__075714DC]  DEFAULT ((0)),
	[VolgendWerkjaar] [int] NOT NULL CONSTRAINT [DF__Lid__VolgendWerk__084B3915]  DEFAULT ((0)),
	[LidID] [int] IDENTITY(1,1) NOT NULL,
	[GroepsWerkjaarID] [int] NOT NULL,
	[GelieerdePersoonID] [int] NOT NULL,
	[Versie] [timestamp] NOT NULL,
 CONSTRAINT [PK_Lid] PRIMARY KEY CLUSTERED 
(
	[LidID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[core].[Categorie]') AND type in (N'U'))
BEGIN
CREATE TABLE [core].[Categorie](
	[Naam] [varchar](80) NULL,
	[Code] [varchar](10) NULL,
	[CategorieID] [int] IDENTITY(1,1) NOT NULL,
	[GroepID] [int] NOT NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[CategorieID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[core].[VrijVeldType]') AND type in (N'U'))
BEGIN
CREATE TABLE [core].[VrijVeldType](
	[Naam] [varchar](80) NULL,
	[DataType] [int] NOT NULL,
	[VrijVeldTypeID] [int] NOT NULL,
	[GroepID] [int] NOT NULL,
 CONSTRAINT [PK_VrijVeldType] PRIMARY KEY CLUSTERED 
(
	[VrijVeldTypeID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[grp].[ChiroGroep]') AND type in (N'U'))
BEGIN
CREATE TABLE [grp].[ChiroGroep](
	[ChiroGroepID] [int] NOT NULL,
 CONSTRAINT [PK_ChiroGroep] PRIMARY KEY CLUSTERED 
(
	[ChiroGroepID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[GelieerdePersoon]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[GelieerdePersoon](
	[GroepID] [int] NOT NULL,
	[PersoonID] [int] NOT NULL,
	[ChiroLeefTijd] [int] NOT NULL CONSTRAINT [DF_GelieerdePersoon_ChiroLeefTijd]  DEFAULT ((0)),
	[GelieerdePersoonID] [int] IDENTITY(1,1) NOT NULL,
	[Versie] [timestamp] NOT NULL,
 CONSTRAINT [PK_GelieerdePersoon] PRIMARY KEY CLUSTERED 
(
	[GelieerdePersoonID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[grp].[GroepsWerkJaar]') AND type in (N'U'))
BEGIN
CREATE TABLE [grp].[GroepsWerkJaar](
	[WerkJaar] [int] NOT NULL,
	[GroepsWerkjaarID] [int] IDENTITY(1,1) NOT NULL,
	[GroepID] [int] NOT NULL,
 CONSTRAINT [PK_GroepsWerkjaar] PRIMARY KEY CLUSTERED 
(
	[GroepsWerkjaarID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[auth].[GebruikersRecht]') AND type in (N'U'))
BEGIN
CREATE TABLE [auth].[GebruikersRecht](
	[GebruikersRechtID] [int] IDENTITY(1,1) NOT NULL,
	[GavID] [int] NOT NULL,
	[GroepID] [int] NOT NULL,
	[VervalDatum] [datetime] NULL,
	[Versie] [timestamp] NOT NULL,
 CONSTRAINT [PK_Gebruikersrecht] PRIMARY KEY CLUSTERED 
(
	[GebruikersRechtID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[CommunicatieVorm]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[CommunicatieVorm](
	[Nota] [varchar](320) NULL,
	[Nummer] [varchar](160) NULL,
	[CommunicatieVormID] [int] IDENTITY(1,1) NOT NULL,
	[CommunicatieTypeID] [int] NULL,
	[IsGezinsgebonden] [bit] NOT NULL CONSTRAINT [DF_CommunicatieVorm_IsGezinsgebonden]  DEFAULT ((0)),
	[Voorkeur] [bit] NOT NULL CONSTRAINT [DF_CommunicatieVorm_Voorkeur]  DEFAULT ((0)),
	[Versie] [timestamp] NOT NULL,
	[GelieerdePersoonID] [int] NULL,
 CONSTRAINT [PK_CommunicatieVorm] PRIMARY KEY CLUSTERED 
(
	[CommunicatieVormID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[PersoonVrijVeld]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[PersoonVrijVeld](
	[Waarde] [varchar](320) NOT NULL,
	[GelieerdePersoonID] [int] NOT NULL,
	[PersoonVrijVeldTypeID] [int] NOT NULL,
 CONSTRAINT [PK_PersoonVrijVeld] PRIMARY KEY CLUSTERED 
(
	[GelieerdePersoonID] ASC,
	[PersoonVrijVeldTypeID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[PersoonsCategorie]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[PersoonsCategorie](
	[GelieerdePersoonID] [int] NOT NULL,
	[CategorieID] [int] NOT NULL,
 CONSTRAINT [PK_PersoonsCategorie] PRIMARY KEY CLUSTERED 
(
	[GelieerdePersoonID] ASC,
	[CategorieID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adr].[PostNrNaarGemeente]') AND type in (N'U'))
BEGIN
CREATE TABLE [adr].[PostNrNaarGemeente](
	[GemeenteID] [int] NOT NULL,
	[PostNr] [int] NOT NULL,
 CONSTRAINT [PK_PostcodeNaarGemeente] PRIMARY KEY CLUSTERED 
(
	[GemeenteID] ASC,
	[PostNr] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adr].[Subgemeente]') AND type in (N'U'))
BEGIN
CREATE TABLE [adr].[Subgemeente](
	[SubgemeenteID] [int] IDENTITY(1,1) NOT NULL,
	[PostNr] [int] NOT NULL,
	[Naam] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Subgemeente] PRIMARY KEY CLUSTERED 
(
	[SubgemeenteID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adr].[Straat]') AND type in (N'U'))
BEGIN
CREATE TABLE [adr].[Straat](
	[StraatID] [int] IDENTITY(1,1) NOT NULL,
	[PostNr] [int] NOT NULL,
	[Naam] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Straat] PRIMARY KEY CLUSTERED 
(
	[StraatID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adr].[Adres]') AND type in (N'U'))
BEGIN
CREATE TABLE [adr].[Adres](
	[Bus] [varchar](10) NOT NULL,
	[HuisNr] [int] NULL,
	[PostCode] [varchar](10) NOT NULL,
	[AdresID] [int] IDENTITY(1,1) NOT NULL,
	[StraatID] [int] NOT NULL,
	[SubgemeenteID] [int] NOT NULL,
	[Versie] [timestamp] NULL,
 CONSTRAINT [PK_Adres] PRIMARY KEY CLUSTERED 
(
	[AdresID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[PersoonVrijVeldType]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[PersoonVrijVeldType](
	[PersoonVrijVeldTypeID] [int] NOT NULL,
 CONSTRAINT [PK_PersoonVrijVeldType] PRIMARY KEY CLUSTERED 
(
	[PersoonVrijVeldTypeID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[pers].[vPersoonsCategorieen]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [pers].[vPersoonsCategorieen] AS
-- Categorieen van een persoon in een lijstje met komma''s ertussen
SELECT p.PersoonID, gp.GroepID, CAST(STUFF((
	SELECT '','' + c.Code
	FROM pers.PersoonsCategorie pc
	JOIN core.Categorie c ON pc.CategorieID = c.CategorieID
	WHERE pc.PersoonID = p.PersoonID AND c.GroepID = gp.GroepID
	FOR XML PATH('''')),1,1,'''') AS VARCHAR(MAX))
	AS Categorieen
FROM pers.Persoon p JOIN pers.GelieerdePersoon gp ON p.PersoonID = gp.PersoonID
' 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[pers].[vPersoonsInfo]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [pers].[vPersoonsInfo]
AS
SELECT 
	gp.GroepID
	, p.PersoonID
	, p.VoorNaam
	, p.Naam
	, pc.Categorieen
	, s.Naam AS StraatNaam
	, a.HuisNr
	, a.Bus
	, sg.PostNr
	, sg.Naam AS SubGemeente
	, p.GeboorteDatum
	, l.EindeInstapPeriode
	, l.NonActief
	, tel.Nummer AS TelefoonNummer
	, eml.Nummer AS EMail
FROM pers.GelieerdePersoon gp
INNER JOIN pers.Persoon p ON gp.PersoonID = p.PersoonID
INNER JOIN pers.vPersoonsCategorieen pc ON p.PersoonID = pc.PersoonID AND gp.GroepID = pc.GroepID
INNER JOIN pers.PersoonsAdres pa ON p.PersoonID = pa.PersoonID AND pa.IsStandaard = 1 
INNER JOIN adr.Adres a ON pa.AdresID = a.AdresID
INNER JOIN adr.Straat s ON a.StraatID = s.StraatID
INNER JOIN adr.SubGemeente sg ON a.SubGemeenteID = sg.SubGemeenteID
LEFT OUTER JOIN lid.Lid l ON p.PersoonID = l.PersoonID
LEFT OUTER JOIN grp.GroepsWerkJaar gw ON l.GroepsWerkJaarID = gw.GroepsWerkJaarID
LEFT OUTER JOIN core.vHuidigWerkJaar hw ON gw.WerkJaar = hw.WerkJaar
LEFT OUTER JOIN pers.CommunicatieVorm tel ON p.PersoonID = tel.PersoonID AND tel.CommunicatieTypeID=1 AND tel.Voorkeur=1
LEFT OUTER JOIN pers.CommunicatieVorm eml ON p.PersoonID = eml.PersoonID AND eml.CommunicatieTypeID=3 AND eml.Voorkeur=1
' 
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonsAdres_Adres]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonsAdres]'))
ALTER TABLE [pers].[PersoonsAdres]  WITH CHECK ADD  CONSTRAINT [FK_PersoonsAdres_Adres] FOREIGN KEY([AdresID])
REFERENCES [adr].[Adres] ([AdresID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonsAdres_AdresType]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonsAdres]'))
ALTER TABLE [pers].[PersoonsAdres]  WITH CHECK ADD  CONSTRAINT [FK_PersoonsAdres_AdresType] FOREIGN KEY([AdresTypeID])
REFERENCES [pers].[AdresType] ([AdresTypeID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonsAdres_GelieerdePersoon]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonsAdres]'))
ALTER TABLE [pers].[PersoonsAdres]  WITH CHECK ADD  CONSTRAINT [FK_PersoonsAdres_GelieerdePersoon] FOREIGN KEY([GelieerdePersoonID])
REFERENCES [pers].[GelieerdePersoon] ([GelieerdePersoonID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[grp].[FK_GroepsAdres_Adres]') AND parent_object_id = OBJECT_ID(N'[grp].[GroepsAdres]'))
ALTER TABLE [grp].[GroepsAdres]  WITH CHECK ADD  CONSTRAINT [FK_GroepsAdres_Adres] FOREIGN KEY([AdresID])
REFERENCES [adr].[Adres] ([AdresID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[grp].[FK_GroepsAdres_Groep]') AND parent_object_id = OBJECT_ID(N'[grp].[GroepsAdres]'))
ALTER TABLE [grp].[GroepsAdres]  WITH CHECK ADD  CONSTRAINT [FK_GroepsAdres_Groep] FOREIGN KEY([GroepID])
REFERENCES [grp].[Groep] ([GroepID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[lid].[FK_Lid_GelieerdePersoon]') AND parent_object_id = OBJECT_ID(N'[lid].[Lid]'))
ALTER TABLE [lid].[Lid]  WITH CHECK ADD  CONSTRAINT [FK_Lid_GelieerdePersoon] FOREIGN KEY([GelieerdePersoonID])
REFERENCES [pers].[GelieerdePersoon] ([GelieerdePersoonID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[lid].[FK_Lid_GroepsWerkjaar]') AND parent_object_id = OBJECT_ID(N'[lid].[Lid]'))
ALTER TABLE [lid].[Lid]  WITH CHECK ADD  CONSTRAINT [FK_Lid_GroepsWerkjaar] FOREIGN KEY([GroepsWerkjaarID])
REFERENCES [grp].[GroepsWerkJaar] ([GroepsWerkjaarID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[core].[FK_Categorie_Groep]') AND parent_object_id = OBJECT_ID(N'[core].[Categorie]'))
ALTER TABLE [core].[Categorie]  WITH CHECK ADD  CONSTRAINT [FK_Categorie_Groep] FOREIGN KEY([GroepID])
REFERENCES [grp].[Groep] ([GroepID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[core].[FK_VrijVeldType_Groep]') AND parent_object_id = OBJECT_ID(N'[core].[VrijVeldType]'))
ALTER TABLE [core].[VrijVeldType]  WITH CHECK ADD  CONSTRAINT [FK_VrijVeldType_Groep] FOREIGN KEY([GroepID])
REFERENCES [grp].[Groep] ([GroepID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[grp].[FK_ChiroGroep_Groep]') AND parent_object_id = OBJECT_ID(N'[grp].[ChiroGroep]'))
ALTER TABLE [grp].[ChiroGroep]  WITH CHECK ADD  CONSTRAINT [FK_ChiroGroep_Groep] FOREIGN KEY([ChiroGroepID])
REFERENCES [grp].[Groep] ([GroepID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_GelieerdePersoon_Groep]') AND parent_object_id = OBJECT_ID(N'[pers].[GelieerdePersoon]'))
ALTER TABLE [pers].[GelieerdePersoon]  WITH CHECK ADD  CONSTRAINT [FK_GelieerdePersoon_Groep] FOREIGN KEY([GroepID])
REFERENCES [grp].[Groep] ([GroepID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_GelieerdePersoon_Persoon]') AND parent_object_id = OBJECT_ID(N'[pers].[GelieerdePersoon]'))
ALTER TABLE [pers].[GelieerdePersoon]  WITH CHECK ADD  CONSTRAINT [FK_GelieerdePersoon_Persoon] FOREIGN KEY([PersoonID])
REFERENCES [pers].[Persoon] ([PersoonID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[grp].[FK_GroepsWerkjaar_Groep]') AND parent_object_id = OBJECT_ID(N'[grp].[GroepsWerkJaar]'))
ALTER TABLE [grp].[GroepsWerkJaar]  WITH CHECK ADD  CONSTRAINT [FK_GroepsWerkjaar_Groep] FOREIGN KEY([GroepID])
REFERENCES [grp].[Groep] ([GroepID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[auth].[FK_GebruikersRecht_Gav]') AND parent_object_id = OBJECT_ID(N'[auth].[GebruikersRecht]'))
ALTER TABLE [auth].[GebruikersRecht]  WITH CHECK ADD  CONSTRAINT [FK_GebruikersRecht_Gav] FOREIGN KEY([GavID])
REFERENCES [auth].[Gav] ([GavID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[auth].[FK_GebruikersRecht_Groep]') AND parent_object_id = OBJECT_ID(N'[auth].[GebruikersRecht]'))
ALTER TABLE [auth].[GebruikersRecht]  WITH CHECK ADD  CONSTRAINT [FK_GebruikersRecht_Groep] FOREIGN KEY([GroepID])
REFERENCES [grp].[Groep] ([GroepID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_CommunicatieVorm_CommunicatieType]') AND parent_object_id = OBJECT_ID(N'[pers].[CommunicatieVorm]'))
ALTER TABLE [pers].[CommunicatieVorm]  WITH CHECK ADD  CONSTRAINT [FK_CommunicatieVorm_CommunicatieType] FOREIGN KEY([CommunicatieTypeID])
REFERENCES [pers].[CommunicatieType] ([CommunicatieTypeID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_CommunicatieVorm_GelieerdePersoon]') AND parent_object_id = OBJECT_ID(N'[pers].[CommunicatieVorm]'))
ALTER TABLE [pers].[CommunicatieVorm]  WITH CHECK ADD  CONSTRAINT [FK_CommunicatieVorm_GelieerdePersoon] FOREIGN KEY([GelieerdePersoonID])
REFERENCES [pers].[GelieerdePersoon] ([GelieerdePersoonID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_Persoon_PersoonVrijVeldType]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonVrijVeld]'))
ALTER TABLE [pers].[PersoonVrijVeld]  WITH CHECK ADD  CONSTRAINT [FK_Persoon_PersoonVrijVeldType] FOREIGN KEY([PersoonVrijVeldTypeID])
REFERENCES [pers].[PersoonVrijVeldType] ([PersoonVrijVeldTypeID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonVrijVeld_GelieerdePersoon]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonVrijVeld]'))
ALTER TABLE [pers].[PersoonVrijVeld]  WITH CHECK ADD  CONSTRAINT [FK_PersoonVrijVeld_GelieerdePersoon] FOREIGN KEY([GelieerdePersoonID])
REFERENCES [pers].[GelieerdePersoon] ([GelieerdePersoonID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonsCategorie_Categorie]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonsCategorie]'))
ALTER TABLE [pers].[PersoonsCategorie]  WITH CHECK ADD  CONSTRAINT [FK_PersoonsCategorie_Categorie] FOREIGN KEY([CategorieID])
REFERENCES [core].[Categorie] ([CategorieID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonsCategorie_Persoon]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonsCategorie]'))
ALTER TABLE [pers].[PersoonsCategorie]  WITH CHECK ADD  CONSTRAINT [FK_PersoonsCategorie_Persoon] FOREIGN KEY([GelieerdePersoonID])
REFERENCES [pers].[Persoon] ([PersoonID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[adr].[FK_PostCodeNaarGemeente_Gemeente]') AND parent_object_id = OBJECT_ID(N'[adr].[PostNrNaarGemeente]'))
ALTER TABLE [adr].[PostNrNaarGemeente]  WITH CHECK ADD  CONSTRAINT [FK_PostCodeNaarGemeente_Gemeente] FOREIGN KEY([GemeenteID])
REFERENCES [adr].[Gemeente] ([GemeenteID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[adr].[FK_PostCodeNaarGemeentes_PostCode]') AND parent_object_id = OBJECT_ID(N'[adr].[PostNrNaarGemeente]'))
ALTER TABLE [adr].[PostNrNaarGemeente]  WITH CHECK ADD  CONSTRAINT [FK_PostCodeNaarGemeentes_PostCode] FOREIGN KEY([PostNr])
REFERENCES [adr].[PostNr] ([PostNr])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[adr].[FK_SubGemeente_PostCode]') AND parent_object_id = OBJECT_ID(N'[adr].[Subgemeente]'))
ALTER TABLE [adr].[Subgemeente]  WITH CHECK ADD  CONSTRAINT [FK_SubGemeente_PostCode] FOREIGN KEY([PostNr])
REFERENCES [adr].[PostNr] ([PostNr])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[adr].[FK_Straat_PostCode]') AND parent_object_id = OBJECT_ID(N'[adr].[Straat]'))
ALTER TABLE [adr].[Straat]  WITH CHECK ADD  CONSTRAINT [FK_Straat_PostCode] FOREIGN KEY([PostNr])
REFERENCES [adr].[PostNr] ([PostNr])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[adr].[FK_Adres_Straat]') AND parent_object_id = OBJECT_ID(N'[adr].[Adres]'))
ALTER TABLE [adr].[Adres]  WITH CHECK ADD  CONSTRAINT [FK_Adres_Straat] FOREIGN KEY([StraatID])
REFERENCES [adr].[Straat] ([StraatID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[adr].[FK_Adres_Subgemeente]') AND parent_object_id = OBJECT_ID(N'[adr].[Adres]'))
ALTER TABLE [adr].[Adres]  WITH CHECK ADD  CONSTRAINT [FK_Adres_Subgemeente] FOREIGN KEY([SubgemeenteID])
REFERENCES [adr].[Subgemeente] ([SubgemeenteID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonVrijVeldType_VrijVeldType]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonVrijVeldType]'))
ALTER TABLE [pers].[PersoonVrijVeldType]  WITH CHECK ADD  CONSTRAINT [FK_PersoonVrijVeldType_VrijVeldType] FOREIGN KEY([PersoonVrijVeldTypeID])
REFERENCES [core].[VrijVeldType] ([VrijVeldTypeID])
