<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chiro.Gap.Validatie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Chiro.Gap.Validatie.Properties.Settings>
            <setting name="MinimumLeeftijd" serializeAs="String">
                <value>6</value>
            </setting>
        </Chiro.Gap.Validatie.Properties.Settings>
    </applicationSettings>
</configuration>