<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chiro.Cdf.Mailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
    <Chiro.Cdf.Mailer.Properties.Settings>
        <setting name="SmtpServer" serializeAs="String">
            <value>kiplin-web01</value>
        </setting>
        <setting name="StandaardAfzender" serializeAs="String">
            <value>helpdesk@chiro.be</value>
        </setting>
        <setting name="SmtpUsername" serializeAs="String">
            <value>mailuser</value>
        </setting>
        <setting name="SmtpPassword" serializeAs="String">
            <value>Pw_For_Smtp_User</value>
        </setting>
        <setting name="SmtpDomain" serializeAs="String">
            <value>somedomain</value>
        </setting>
    </Chiro.Cdf.Mailer.Properties.Settings>
  </applicationSettings>
</configuration>
