<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chiro.WatiN.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chiro.WatiN.Test.Properties.Settings>
            <setting name="GapServicesPort" serializeAs="String">
                <value>2734</value>
            </setting>
            <setting name="GapWebAppPort" serializeAs="String">
                <value>2767</value>
            </setting>
        </Chiro.WatiN.Test.Properties.Settings>
    </userSettings>
</configuration>
