<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chiro.Sso.DecryptieTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies />
    </compilation>
  </system.web>
  <applicationSettings>
    <Chiro.Sso.DecryptieTool.Properties.Settings>
      <setting name="EncryptieKey" serializeAs="String">
        <value>bSzTnlw7aalstnLytquah4jAMbVrMK3lgViEqXT2WB0=</value>
      </setting>
      <setting name="HashKey" serializeAs="String">
        <value>FA/NSFrNPj3IPOsqsDLJgc2wVeeTHaktE0wkXtN5n3Q=</value>
      </setting>
      <setting name="MinutenCredentialsGeldig" serializeAs="String">
        <value>1000</value>
      </setting>
    </Chiro.Sso.DecryptieTool.Properties.Settings>
  </applicationSettings>
</configuration>