<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="container">
        <types>
          <type type="Cg2.Orm.DataInterfaces.IGelieerdePersonenDao, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.GelieerdePersonenDao, Chiro.Gap.Data" />
          <type type="Cg2.Orm.DataInterfaces.ILedenDao, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.LedenDao, Chiro.Gap.Data" />
          <type type="Cg2.Orm.DataInterfaces.IKindDao, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.KindDao, Chiro.Gap.Data" />
          <type type="Cg2.Orm.DataInterfaces.ILeidingDao, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.LeidingDao, Chiro.Gap.Data" />
          <type type="Cg2.Orm.DataInterfaces.IGroepenDao, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.GroepenDao, Chiro.Gap.Data" />
          <type type="Cg2.Orm.DataInterfaces.IAfdelingsJarenDao, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.AfdelingsJaarDao, Chiro.Gap.Data" />
          <type type="Cg2.Orm.DataInterfaces.IAutorisatieDao, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.AutorisatieDao, Chiro.Gap.Data" />
          <type type="Cg2.Orm.DataInterfaces.IDao`1, Cg2.Orm"
                mapTo="Chiro.Gap.Data.Ef.Dao`1, Chiro.Gap.Data" />
          <type type="Cg2.Workers.IAutorisatieManager, Cg2.Workers"
                mapTo="Cg2.Workers.AutorisatieManager, Cg2.Workers" />
          <type type="Cg2.Workers.IAuthenticatieManager, Cg2.Workers"
                mapTo="Cg2.Workers.AuthenticatieManager, Cg2.Workers" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>