-- database met slechts een paar tabelletjes
-- voor unittests EfHelper

use "ChiroGroep.UnitTest"

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'adr')
EXEC sys.sp_executesql N'CREATE SCHEMA [adr] AUTHORIZATION [dbo]'

GO
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'pers')
EXEC sys.sp_executesql N'CREATE SCHEMA [pers] AUTHORIZATION [dbo]'

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adr].[Adres]') AND type in (N'U'))
BEGIN
CREATE TABLE [adr].[Adres](
	[Bus] [varchar](10) NOT NULL,
	[HuisNr] [int] NULL,
	[PostCode] [varchar](10) NOT NULL,
	[AdresID] [int] IDENTITY(1,1) NOT NULL,
	[Versie] [timestamp] NULL,
 CONSTRAINT [PK_Adres] PRIMARY KEY CLUSTERED 
(
	[AdresID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[GelieerdePersoon]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[GelieerdePersoon](
	[ChiroLeefTijd] [int] NOT NULL CONSTRAINT [DF_GelieerdePersoon_ChiroLeefTijd]  DEFAULT ((0)),
	[GelieerdePersoonID] [int] IDENTITY(1,1) NOT NULL,
	[Versie] [timestamp] NOT NULL,
 CONSTRAINT [PK_GelieerdePersoon] PRIMARY KEY CLUSTERED 
(
	[GelieerdePersoonID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pers].[PersoonsAdres]') AND type in (N'U'))
BEGIN
CREATE TABLE [pers].[PersoonsAdres](
	[IsStandaard] [bit] NOT NULL,
	[Opmerking] [text] NULL,
	[AdresID] [int] NOT NULL,
	[Versie] [timestamp] NOT NULL,
	[GelieerdePersoonID] [int] NOT NULL,
	[PersoonsAdresID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PersoonsAdres] PRIMARY KEY CLUSTERED 
(
	[PersoonsAdresID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonsAdres_Adres]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonsAdres]'))
ALTER TABLE [pers].[PersoonsAdres]  WITH CHECK ADD  CONSTRAINT [FK_PersoonsAdres_Adres] FOREIGN KEY([AdresID])
REFERENCES [adr].[Adres] ([AdresID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[pers].[FK_PersoonsAdres_GelieerdePersoon]') AND parent_object_id = OBJECT_ID(N'[pers].[PersoonsAdres]'))
ALTER TABLE [pers].[PersoonsAdres]  WITH CHECK ADD  CONSTRAINT [FK_PersoonsAdres_GelieerdePersoon] FOREIGN KEY([GelieerdePersoonID])
REFERENCES [pers].[GelieerdePersoon] ([GelieerdePersoonID])

