<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=gap_local;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=gap_local&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="PerThread"
           type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="PerOperationContext"
           type="Chiro.Cdf.UnityWcfExtensions.UnityOperationContextLifetimeManager, Chiro.Cdf.UnityWcfExtensions"/>
    <alias alias="PerInstanceContext"
           type="Chiro.Cdf.UnityWcfExtensions.UnityInstanceContextLifetimeManager, Chiro.Cdf.UnityWcfExtensions"/>
    <alias alias="PerContextChannel"
           type="Chiro.Cdf.UnityWcfExtensions.UnityContextChannelLifetimeManager, Chiro.Cdf.UnityWcfExtensions"/>
    <alias alias="PerServiceHostBase"
           type="Chiro.Cdf.UnityWcfExtensions.UnityServiceHostBaseLifetimeManager, Chiro.Cdf.UnityWcfExtensions"/>

    <container>

      <!-- repositoryprovider -->
      <register type="Chiro.Cdf.Poco.IContext, Chiro.Cdf.Poco" mapTo="Chiro.Gap.Poco.Context.ChiroGroepEntities, Chiro.Gap.Poco.Context" >
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Cdf.Poco.IRepositoryProvider, Chiro.Cdf.Poco" mapTo="Chiro.Cdf.Poco.RepositoryProvider, Chiro.Cdf.Poco">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Cdf.Poco.IRepository`1, Chiro.Cdf.Poco" mapTo="Chiro.Cdf.Poco.Repository`1, Chiro.Cdf.Poco">
        <lifetime type="PerOperationContext" />
      </register>

      <!-- Let op: we bepalen dat dit proces superGAV is in onderstaande lijn. -->
      <register type="Chiro.Gap.WorkerInterfaces.IAutorisatieManager, Chiro.Gap.WorkerInterfaces" mapTo="Chiro.Gap.UpdateSvc.Service.SuperGavAutorisatieManager, Chiro.Gap.UpdateSvc.Service">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Gap.WorkerInterfaces.IAuthenticatieManager, Chiro.Gap.WorkerInterfaces" mapTo="Chiro.Gap.Workers.AuthenticatieManager, Chiro.Gap.Workers">
        <lifetime type="PerOperationContext" />
      </register>

      <!-- Manager interfaces (Da's iets van 1.4) -->
      <register type="Chiro.Gap.WorkerInterfaces.IVeelGebruikt, Chiro.Gap.WorkerInterfaces" mapTo="Chiro.Gap.Workers.VeelGebruikt, Chiro.Gap.Workers">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Gap.WorkerInterfaces.IGroepenManager, Chiro.Gap.WorkerInterfaces" mapTo="Chiro.Gap.Workers.GroepenManager, Chiro.Gap.Workers">
        <lifetime type="PerOperationContext" />
      </register>
      <register type="Chiro.Gap.WorkerInterfaces.ILedenManager, Chiro.Gap.WorkerInterfaces" mapTo="Chiro.Gap.Workers.LedenManager, Chiro.Gap.Workers">
        <lifetime type="PerOperationContext" />
      </register>

    </container>
  </unity>

  <appSettings/>
	<system.web>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <!-- Ik heb bovenstaande nodig om te kunnen releasen op devsrv1. Geen idee waarom. -->
		<bindings>
      <wsHttpBinding>
        <binding name="ChiroBindingConfiguration" sendTimeout="00:05:00" maxReceivedMessageSize="2000000"/>
      </wsHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="Chiro.Gap.UpdateSvc.Service.UpdateServiceBehavior" name="Chiro.Gap.UpdateSvc.Service.UpdateService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.UpdateSvc.Contracts.IUpdateService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
    <extensions>
      <behaviorExtensions>
        <add name="unity" type="Chiro.Cdf.UnityWcfExtensions.UnityBehaviorExtensionElement, Chiro.Cdf.UnityWcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>    
		<behaviors>
			<serviceBehaviors>
				<behavior name="Chiro.Gap.UpdateSvc.Service.UpdateServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
          <!-- Dependency injection -->
          <unity operationContextEnabled="true" instanceContextEnabled="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
