<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
  <add name="diagnosticEntities" connectionString="metadata=res://*/DiagnosticModel.csdl|res://*/DiagnosticModel.ssdl|res://*/DiagnosticModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSRV1\SQL2K5;Initial Catalog=gap;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>