<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chiro.Gap.WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <unity>
    <container>
      <register type="Chiro.Cdf.ServiceHelper.IChannelProvider, Chiro.Cdf.ServiceHelper" mapTo="Chiro.Cdf.ServiceHelper.ChannelFactoryChannelProvider, Chiro.Cdf.Servicehelper">
      </register>
      <register type="Chiro.Gap.WebApp.IVeelGebruikt, Chiro.Gap.WebApp" mapTo="Chiro.Gap.WebApp.VeelGebruikt, Chiro.Gap.WebApp">
      </register>
    </container>
  </unity>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--Toegevoegd om een grote hoeveelheid JSON data door te sturen, mag mogelijk terug verwijderd worden -->
    <httpRuntime requestValidationMode="2.0"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <!--
    See globalization Element (ASP.NET Settings Schema)
    and CultureInfo class
    -->
    <globalization culture="nl-BE" uiCulture="nl-BE" enableClientBasedCulture="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows">
      <!--forms loginUrl="~/Account/Login"/-->
    </authentication>
    <!-- impersonate is nodig om asp.net de wcf-service te
    accessen met de credentials van de aangelogde user -->
    <identity impersonate="true"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

    <customErrors mode="On" defaultRedirect="~/Fout/Onbekend" />
            
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="Error"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="Chiro.Gap.WebApp.HtmlHelpers"/>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ChiroBindingConfiguration" sendTimeout="00:05:00" maxReceivedMessageSize="3000000"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- lokaal -->
      <endpoint address="http://localhost:2734/GelieerdePersonenService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGelieerdePersonenService"/>
      <endpoint address="http://localhost:2734/LedenService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.ILedenService"/>
      <endpoint address="http://localhost:2734/GroepenService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGroepenService"/>
      <endpoint address="http://localhost:2734/UitstappenService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IUitstappenService"/>
      <endpoint address="http://localhost:2734/GebruikersService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGebruikersService"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Chiro.Gap.WebApp.Properties.Settings>
      <setting name="GroepKiezenUrl" serializeAs="String">
        <value>/Gav</value>
      </setting>
      <setting name="TestGroepID" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="AutoSuggestieStandaardLimiet" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="KleinAantalPersonen" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LoonVerliesVanafLeeftijd" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="PrijsVerzekeringLoonVerlies" serializeAs="String">
        <value>2.38</value>
      </setting>
      <setting name="LogBestandPad" serializeAs="String">
        <value>C:\Errors\GAP-Foutlog.txt</value>
      </setting>
      <setting name="PrijsAansluiting" serializeAs="String">
        <value>9</value>
      </setting>
    </Chiro.Gap.WebApp.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EPPlus" publicKeyToken="EA159FDAA78159A1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
