<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Off,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\wcflogs\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\wcflogs\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics performanceCounters="Off">
      <messageLogging logEntireMessage="true" logMalformedMessages="false"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <services>
      <service name="Chiro.Kip.ResubmitDeadMessages.DlqSyncPersoonService">
        <endpoint address="net.msmq://gapsrv1.chiro.wereld/system$;DeadXact"
          binding="netMsmqBinding" bindingConfiguration="DefaultBinding"
          name="ResubmitEndPoint" contract="Chiro.Kip.ServiceContracts.ISyncPersoonService" />
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="DefaultBinding">
          <security mode="None" />
        </binding>
        <binding name="NewBinding0">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://gapsrv1.chiro.wereld/private/KipSyncLive"
        binding="netMsmqBinding" bindingConfiguration="NewBinding0"
        contract="ServiceReference1.ISyncPersoonService" name="KipSyncEndPoint" />
    </client>
  </system.serviceModel>
</configuration>