<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Chiro.Gap.Workers.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<userSettings>
		<Chiro.Gap.Workers.Test.Properties.Settings>
			<setting name="TestGav1" serializeAs="String">
				<value>yvonne</value>
			</setting>
			<setting name="TestAdNummer" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="GroepID" serializeAs="String">
				<value>317</value>
			</setting>
			<setting name="CategorieNaam" serializeAs="String">
				<value>TestKookies</value>
			</setting>
		</Chiro.Gap.Workers.Test.Properties.Settings>
	</userSettings>
	<unity>
		<containers>
			<container>
				<types>
					<!-- altijd GAV voor deze tests -->
					<type type="Chiro.Gap.WorkerInterfaces.IAutorisatieManager, Chiro.Gap.WorkerInterfaces"
					      mapTo="Chiro.Gap.Dummies.AutMgrAltijdGav, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.WorkerInterfaces.IAuthenticatieManager, Chiro.Gap.WorkerInterfaces"
					      mapTo="Chiro.Gap.Workers.AuthenticatieManager, Chiro.Gap.Workers" />
          
          <!-- Voor 'VeelGebruikt' voorzie ik voorlopig geen dummy.  De DAO's zijn toch
               al gemockt. -->
          <type type="Chiro.Gap.WorkerInterfaces.IVeelGebruikt, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.VeelGebruikt, Chiro.Gap.Workers" />

          <!-- de workerinterfaces -->
          <type type="Chiro.Gap.WorkerInterfaces.IAfdelingsJaarManager, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.AfdelingsJaarManager, Chiro.Gap.Workers" />
          <type type="Chiro.Gap.WorkerInterfaces.IChiroGroepenManager, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.ChiroGroepenManager, Chiro.Gap.Workers" />
          <type type="Chiro.Gap.WorkerInterfaces.IUitstappenManager, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.UitstappenManager, Chiro.Gap.Workers" />
          <type type="Chiro.Gap.WorkerInterfaces.IGroepenManager, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.GroepenManager, Chiro.Gap.Workers" />
          <type type="Chiro.Gap.WorkerInterfaces.IGroepsWerkJarenManager, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.GroepsWerkJarenManager, Chiro.Gap.Workers" />          

					<type type="Chiro.Gap.SyncInterfaces.IAdressenSync, Chiro.Gap.SyncInterfaces"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.SyncInterfaces.ICommunicatieSync, Chiro.Gap.SyncInterfaces"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.SyncInterfaces.IPersonenSync, Chiro.Gap.SyncInterfaces"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.SyncInterfaces.ILedenSync, Chiro.Gap.SyncInterfaces"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.SyncInterfaces.IBivakSync, Chiro.Gap.SyncInterfaces"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.SyncInterfaces.IGroepenSync, Chiro.Gap.SyncInterfaces"
                mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
        </types>
			</container>
		</containers>
	</unity>
</configuration>