<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="kipadminEntities" connectionString="metadata=res://*/KipAdmin.csdl|res://*/KipAdmin.ssdl|res://*/KipAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DevServer.chiro.lokaal;Initial Catalog=kipadmin;Persist Security Info=True;User ID=KipSyncApp;Password=KipSyncApp;MultipleActiveResultSets=True;Application Name=kipsync&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NoMsmqSecurity">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <mexHttpBinding>
        <binding name="MexBinding" />
      </mexHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Chiro.Kip.Services.SyncServiceBehavior"
        name="Chiro.Kip.Services.SyncPersoonService">
        <endpoint address="net.msmq://gapsrv1.chiro.wereld/private/KipSyncPersoonServiceQueue"
          binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity"
          contract="Chiro.Kip.Services.ISyncPersoonService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://gapsrv1.chiro.wereld/private/KipSyncPersoonServiceQueue" />
            <add baseAddress="http://localhost:8000/KipSyncService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Chiro.Kip.Services.SyncServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
