<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceHelper" type="Cg2.Adf.Configuration.AdfConfigurationSection, Cg2.Adf"/>
  </configSections>
  <serviceHelper>
    <serviceProviders>
      <add name="wcf" type="Cg2.Adf.ChannelFactoryServiceProvider, Cg2.Adf" />
    </serviceProviders>
  </serviceHelper>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:2733/GroepenService.svc"
                binding="wsHttpBinding"
                contract="Cg2.ServiceContracts.IGroepenService" />      
    </client>
  </system.serviceModel>
</configuration>