<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="chiroGroep" type="Capgemini.Adf.Configuration.AdfConfigurationSection, Capgemini.Adf"/>
  </configSections>
  <chiroGroep>
    <serviceProviders>
      <add name="groepenService" type="Capgemini.Adf.ChannelFactoryServiceProvider, Capgemini.Adf" />
    </serviceProviders>
  </chiroGroep>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:2733/GroepenService.svc"
                binding="wsHttpBinding"
                contract="Cg2.ServiceContracts.IGroepenService" />      
    </client>
  </system.serviceModel>
</configuration>