<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="serviceHelper" type="Chiro.Cdf.ServiceHelper.Configuration.CdfConfigurationSection, Chiro.Cdf.ServiceHelper"/>
  </configSections>

  <serviceHelper>
    <serviceProviders>
      <!-- ServiceHelper moet IoC gebruiken om zijn services te resolven. -->
      <add name="ioc" type="Chiro.Cdf.ServiceHelper.IocServiceProvider, Chiro.Cdf.ServiceHelper" />
    </serviceProviders>
  </serviceHelper>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- De update-servcie is super-GAV -->
      <register type="Chiro.Gap.WorkerInterfaces.IAutorisatieManager, Chiro.Gap.WorkerInterfaces" mapTo="Chiro.Gap.Dummies.AutMgrAltijdGav, Chiro.Gap.Dummies" />
      <!-- We roepen KipSync niet echt aan -->
      <register type="Chiro.Kip.ServiceContracts.ISyncPersoonService, Chiro.Kip.ServiceContracts" mapTo="Chiro.Kip.ServiceContracts.KipSyncMock, Chiro.Kip.ServiceContracts" />
    </container>
  </unity>

</configuration>