<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<unity>
		<containers>
			<container>
				<types>
					<!-- altijd GAV voor deze tests -->
					<type type="Chiro.Gap.Orm.DataInterfaces.IAutorisatieDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.AutDaoAltijdGav, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.WorkerInterfaces.IAutorisatieManager, Chiro.Gap.WorkerInterfaces"
					      mapTo="Chiro.Gap.Dummies.AutMgrAltijdGav, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.WorkerInterfaces.IAuthenticatieManager, Chiro.Gap.WorkerInterfaces"
					      mapTo="Chiro.Gap.Workers.AuthenticatieManager, Chiro.Gap.Workers" />
          
          <!-- Voor 'VeelGebruikt' voorzie ik voorlopig geen dummy.  De DAO's zijn toch
               al gemockt. -->
          <type type="Chiro.Gap.WorkerInterfaces.IVeelGebruikt, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.VeelGebruikt, Chiro.Gap.Workers" />

          <!-- de workerinterfaces -->
          <type type="Chiro.Gap.WorkerInterfaces.IAfdelingsJaarManager, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.AfdelingsJaarManager, Chiro.Gap.Workers" />
          <type type="Chiro.Gap.WorkerInterfaces.IChiroGroepenManager, Chiro.Gap.WorkerInterfaces"
                mapTo="Chiro.Gap.Workers.ChiroGroepenManager, Chiro.Gap.Workers" />


          <!-- BELANGRIJK: map standaard naar dummy's die niets implementeren.
               Heb je toch een andere implementatie nodig, gebruik dan
               Chiro.Gap.Workers.Tests.CustomIoC, en koppel de DAO's dan at
               runtime aan de IOC container
               
               Het is ook niet de bedoeling dat de tests in dit project wijzigingen
               toebrengen aan de database.  Hier mag enkel de business getest worden.
               Wil je tests maken die wel naar de database mogen schrijven, doe dat dan
               in een ander project.
          -->
					<type type="Chiro.Gap.Orm.DataInterfaces.IKindDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyKindDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.ILeidingDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyLeidingDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.ILedenDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyLedenDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.IGroepenDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyGroepenDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.IPersonenDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyPersonenDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.IGelieerdePersonenDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyGelieerdePersonenDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingsJarenDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyAfdelingsJarenDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.ICategorieenDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyCategorieenDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.IGroepsWerkJaarDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyGroepsWerkJaarDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingenDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyAfdelingenDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.IFunctiesDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyFunctiesDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.DataInterfaces.ICommunicatieVormDao, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummyCommunicatieVormDao, Chiro.Gap.Dummies" />
					<type type="Chiro.Cdf.Data.IDao`1, Chiro.Cdf.Data"
					      mapTo="Chiro.Gap.Dummies.DummyDao`1, Chiro.Gap.Dummies" />
					<!-- Syncen is voor deze tests niet van belang -->
					<type type="Chiro.Gap.Orm.SyncInterfaces.IAdressenSync, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.SyncInterfaces.ICommunicatieSync, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.SyncInterfaces.IPersonenSync, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.SyncInterfaces.ILedenSync, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
					<type type="Chiro.Gap.Orm.SyncInterfaces.IDubbelpuntSync, Chiro.Gap.Orm"
					      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
				</types>
			</container>
		</containers>
	</unity>
</configuration>