<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="container">
        <types>
          <type type="Chiro.Gap.Orm.DataInterfaces.IAutorisatieDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.AutDaoAltijdGav, Chiro.Gap.Dummies" /> <!-- altijd GAV voor deze tests -->
          <type type="Chiro.Gap.Orm.DataInterfaces.IAdressenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.AdressenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IStratenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.StratenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ISubgemeenteDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.SubgemeenteDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGelieerdePersonenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GelieerdePersonenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IPersonenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.PersonenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILedenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.LedenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IKindDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.KindDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILeidingDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.LeidingDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GroepenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ICommunicatieVormDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.CommunicatieVormDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingsJarenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.AfdelingsJaarDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepsWerkJaarDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GroepsWerkJaarDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.AfdelingenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ICategorieenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.CategorieenDao, Chiro.Gap.Data" />
          <type type="Chiro.Cdf.Data.IDao`1, Chiro.Cdf.Data"
                mapTo="Chiro.Gap.Data.Ef.AbstractChiroGroepDao`1, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGavDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GavDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Workers.IAutorisatieManager, Chiro.Gap.Workers"
                mapTo="Chiro.Gap.Workers.AutorisatieManager, Chiro.Gap.Workers" />
          <type type="Chiro.Gap.Workers.IAuthenticatieManager, Chiro.Gap.Workers"
                mapTo="Chiro.Gap.Workers.AuthenticatieManager, Chiro.Gap.Workers" />          
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSERVER;Initial Catalog=Chirogroep;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>