<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Chiro.Gap.Workers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Chiro.Gap.Workers.Properties.Settings>
   <setting name="WerkjaarStartNationaal" serializeAs="String">
    <value>1990-09-01</value>
   </setting>
   <setting name="WerkjaarVerplichteOvergang" serializeAs="String">
    <value>1990-10-15</value>
   </setting>
   <setting name="NatFunctiesCacheKey" serializeAs="String">
    <value>NatFuncties</value>
   </setting>
  </Chiro.Gap.Workers.Properties.Settings>
	</applicationSettings>
</configuration>