<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Chiro.Gap.Workers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<applicationSettings>
		<Chiro.Gap.Workers.Properties.Settings>
   <setting name="WerkjaarStartNationaal" serializeAs="String">
    <value>1990-09-01</value>
   </setting>
   <setting name="WerkjaarVerplichteOvergang" serializeAs="String">
    <value>1990-10-15</value>
   </setting>
   <setting name="LengteProbeerPeriode" serializeAs="String">
    <value>21</value>
   </setting>
   <setting name="MinLidLeefTijd" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="MaxLidLeefTijd" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="BeginOvergangsPeriode" serializeAs="String">
    <value>2000-08-01</value>
   </setting>
  </Chiro.Gap.Workers.Properties.Settings>
	</applicationSettings>
 <system.serviceModel>
  <bindings>
   <netMsmqBinding>
    <binding name="NetMsmqBinding_ISyncPersoonService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
     maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
     retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
     useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
     useActiveDirectory="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
       msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
      <message clientCredentialType="Windows" />
     </security>
    </binding>
   </netMsmqBinding>
  </bindings>
  <client>
   <endpoint address="net.msmq://localhost/private/KipSyncPersoonServiceQueue"
    binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ISyncPersoonService"
    contract="KipSync.ISyncPersoonService" name="NetMsmqBinding_ISyncPersoonService" />
  </client>
 </system.serviceModel>
</configuration>