<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Chiro.Gap.Workers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Chiro.Gap.Workers.Properties.Settings>
            <setting name="WerkjaarStartNationaal" serializeAs="String">
                <value>1990-09-01</value>
            </setting>
            <setting name="WerkjaarVerplichteOvergang" serializeAs="String">
                <value>1990-10-15</value>
            </setting>
            <setting name="LengteProbeerPeriode" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="MaxLidLeefTijd" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BeginOvergangsPeriode" serializeAs="String">
                <value>2000-07-01</value>
            </setting>
            <setting name="MinLeidingLeefTijd" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UniqueViolation" serializeAs="String">
                <value>2627</value>
            </setting>
            <setting name="AantalLedenOverzettenPerKeer" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BivakAangifteStart" serializeAs="String">
                <value>1990-05-01</value>
            </setting>
            <setting name="MinWerkJaarLidOverzetten" serializeAs="String">
                <value>2011</value>
            </setting>
            <setting name="EindeGebruikersRecht" serializeAs="String">
                <value>1990-11-01</value>
            </setting>
            <setting name="LiveConnSubstring" serializeAs="String">
                <value>gaplive</value>
            </setting>
        </Chiro.Gap.Workers.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
