<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="kipadminEntities" connectionString="metadata=res://*/KipAdmin.csdl|res://*/KipAdmin.ssdl|res://*/KipAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DevServer.chiro.lokaal;Initial Catalog=kipadmin;Persist Security Info=True;User ID=KipSyncApp;Password=KipSyncApp;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>