/*----------------------------------------------------------
The base color for this template is #fff. If you'd like
to use a different color start by replacing all instances of
#fff with your new color.
----------------------------------------------------------*/
[hidden] { display: none; }

body
{
	background-color: #fff;
	font-size: .75em;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #000;
}

a:link
{
	color: #034af3;
	text-decoration: underline;
}
a:visited
{
	color: #505abc;
}
a:hover
{
	color: #1d60ff;
	text-decoration: none;
}
a:active
{
	color: #12eb87;
}

p, ul
{
	margin-bottom: 20px;
	line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
	font-size: 1.5em;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

h1
{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}
h2
{
	padding: 0 0 5px 0;
}
h3
{
	font-size: 1.2em;
}
h4
{
	font-size: 1.1em;
}
h5, h6
{
	font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
	margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
	margin-left: 2ex;
	margin-right: 2ex;
    margin-top: 2ex;
}

#header
{
	position: relative;
	margin-bottom: 30px;
	color: #000;
	padding: 0;
	border: solid 1px #fff; /* hack voor FF */
}

#header h1
{
	font-weight: bold;
	padding: 5px 0;
	margin: 0;
	color: #000;
	border: none;
	line-height: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px !important;
}

#main
{
	float: none;
	clear: both;
	padding: 5px 25px 10px 25px;
	background-color: #fff;
	margin: 0 30px 0 0;
}

#footer
{
	color: #999;
	padding: 10px 0;
	text-align: center;
	line-height: normal;
	margin-top: 20px;
	padding-top: 10px;
	font-size: .9em;
	clear: both;
}

#footer a 
{
	color: #999;
}

#footer a:hover
{
	color: #999;
	text-decoration: none;
}

/* TAB MENU   
----------------------------------------------------------*/

#topNavigatie
{
	background: #fff;
	border-bottom: 5px solid #000;
	float: left;
	margin: 0 0 15px 0;
	padding: 0;
	width: 100%;
}
#topNavigatie ul
{
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#topNavigatie li
{
	float: right;
	margin: 0;
	padding: 0;
}
#topNavigatie li.active
{
	color: #fb0;
	font-weight: bold;
}
#topNavigatie a
{
	border-bottom: none;
	border-right: 1px solid #ddd;
	color: #555;
	float: left;
	font-size: 13px;
	margin: 0;
	padding: 4px 15px;
	text-decoration: none;
}
#topNavigatie li.active a
{
	color: #000;
}
#topNavigatie li a:hover
{
	background: #999;
	color: #eee;
}
#topNavigatie li.active a:hover
{
	color: #eee;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #CCC;
}

fieldset p
{
	margin: 2px 12px 10px 10px;
}

legend
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
}

input[type="text"]
{
	width: 200px;
	border: 1px solid #CCC;
}

input[type="password"]
{
	width: 200px;
	border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table
{
	border: solid 1px #e8eef4;
	border-collapse: collapse;
    margin-bottom: 15px;
}

table td
{
	padding: 5px;
	border: solid 1px #e8eef4;
}

table th
{
	padding: 6px 5px;
	text-align: left;
	background-color: #e8eef4;
	border: solid 1px #e8eef4;
}

/* PAGER
----------------------------------------------------------*/
div.pager
{
	text-align: left;
	padding: .5em 0 .5em 0;
}

div.pager A
{
	font-size: 1.1em;
	color: #666;
	text-decoration: none;
	padding: 0 .4em 0 .4em;
}

div.pager A:hover
{
	background-color: Silver;
}

div.pager A.geselecteerd
{
	background-color: #353535;
	color: #fff;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
	clear: both;
}

.error
{
	color: Red;
}

#menucontainer
{
	margin-top: 30px;
}

div#title
{
	display: block;
	float: left;
	text-align: left;
	margin-left: 10px;
}

#title p
{
	color: #000;
	margin: -10px 0 0 0;
	font-weight: bold;
}

#settingsmenu
{
	font-size: 0.9em;
	line-height: 1.5em;
	font-style: italic;
	display: block;
	text-align: right;
	margin: 10px;
	color: #808080;
}

#settingsmenu a:link
{
	color: #808080;
	text-decoration: underline;
}

#settingsmenu a:visited
{
	color: #808080;
	text-decoration: underline;
}

#settingsmenu a:hover
{
	color: #808080;
	text-decoration: none;
}

#settingsmenu li
{
    list-style: none;
}

.field-validation-error
{
	color: #ff0000;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

/* EIGEN DINGEN */

#logo
{
	float: left;
}


.mededelingen
{
	right: 1ex;
	bottom: 0;
	position: fixed;
	width: 34ex;
    background-color: #EEE; 
    border-radius: 5px;
	border: 1px solid black;
	padding: 1ex 1ex 1ex 2ex;
	margin: 0 10px 10px 0;
	z-index: 1000;
    box-shadow: 3px 3px 5px 1px;
}

.mededelingen:hover {
    cursor: pointer;
    border-color:#353535;
    color: #353535;
}
.mededelingen img {
    float: left;
    width: 5ex;
    height: 5ex;
    margin-right: 8px;
}

#livetest
{
	right:0;
	top:0;
	position:fixed;
	margin:0;
	padding:0;
}

.liveomgeving
{
	background-color:Red;
	color:White;
}

.testomgeving
{
	background-color:Blue;
	color:White;
}

#actiesmini form
{
	display: inline;
}

#actiesmini span
{
	margin-right: 10px;
}

div#actiesmini
{
	margin-bottom: 1ex;
	text-align: right;
	width: 100%;
}


#acties
{
	float: right;
    margin: 25px 0 25px 25px;
}

#acties h1
{
	font-size: small;
}


#acties ul
{
	margin: 0 4px 0 -10px;
	text-align: left;
}

#acties li
{
	display: block;
	list-style: none;
	margin-left: -20px;
}

.right
{
	text-align: right;
}

.center
{
	text-align: center;
}

.left
{
	text-align: left;
}

div.Foutmelding, div.Succesmelding
{
	font-size: 13px;
	border: solid 1px;
	margin: 2px 2px 2px 2px;
	color: #000;
	margin-top: 1em;
	width: 60%;
	padding: 15px 8px 15px 8px;
}

div.Foutmelding
{
	border-color: Red;
	background-color: #FFF2F2;
}

div.Succesmelding
{
	border-color: Green;
	background-color: #DFD;
}

table.overzicht
{
	background-color: #E0E0E0;
}

table.overzicht th
{
	background-color: #A0A0A0;
}

table.overzicht tr:hover td
{
	background-color: #A0A0A0;
}

tr.even td
{
	background-color: #e8eef4;
}

tr.oneven td
{
	background-color: #FFFFFF;
}

.highlight
{
    font-weight: bold;
}

info
{
	float: right;
	display: block;
}

textarea
{
	width: 60ex;
	height: 10ex;
}

.opzij
{
    /*float: right;
	background: #ddd; 
    display: inline;*/
    margin-top: 30px;
	width: 36%;
	margin-left:57% ;
}

.kaderke
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #CCC;
}

.kaderke p
{
	margin: 2px 12px 10px 10px;
}

.kadertitel
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
	margin: -22px 3px 0 1px;
	background-color: #fff;
	white-space: nowrap;
	position: absolute;
	display: block;
	overflow: visible;
}

#helpmenu
{
	float: left;
	background-color: #dddddd;
	max-width: 200px;
	min-width: 180px;
	width: 20%;
	margin: 0 10px 2px 0;
	padding: 5px 6px 20px 6px;
	font-size: 80%;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: 2px 2px 2px 1px;
}

#helpmenu h2
{
	margin: 5px 0 0 0;
}

#helpmenu ul
{
	margin: 0 0 0 0;
}

#help
{
	float: left;
	margin: 0 0 15px 10px;
	padding: 2px 2px 2px 2px;
	max-width: 510px;
	width: 80%;
}

a.anchor:hover
{
	color: #000 !important;
}

dl.Woordenlijst dt
{
	margin: 10px 0 10px 0;
}

dl.Woordenlijst dd
{
	margin-bottom: 15px;
}

img.screenshot
{
	border: Solid 2px Gray;
	display: block;
}

.invulformulier label
{
    width: 25ex;
    display:inline-block;
}

button {
    margin: 3px;
}

fieldset p label {
    width: 150px;
    display: inline-block;
}

fieldset table tr td {
    border: none;
}
fieldset table {
    border: none;
}

#PersoonsInformatie {
    width: 55%;
    float: left;
}
#PersoonsInformatie table{
    width: 95%;
    float: left;
}
#PersoonsInformatie table tr td:nth-child(1) {
    width: 20%;
}

#PersoonsInformatie table tr td:nth-child(2) {
    width: 60%;
}

#PersoonsInformatie table tr td:last-child {
    width: 10%;
    text-align: right;
}
#PersoonsInformatie table tr td:nth-child(3) {
    text-align: center;
}

.noclose .ui-dialog-titlebar-close {
    display:none;
}
#gdInput {
    text-align: left;
}
#adresNota {
    width: 300px;
    height: 80px;
}

#extraInfoDialog img {
    margin-left: 45%;
    margin-top:50px;
    margin-right: auto;
    display: inline-block;
}

#errorfield {
    width: 85%;
    padding: 5px;
}
#errorfield img {
    float: left;
    width: 8ex;
    height: 8ex;
    margin-right: 50px;
    margin-left: 20px;
}

.np_adres td input {
    width:auto;
}

.progress-label {
    float: left;
    margin-left: 40%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

@media screen and (max-width: 360px) {
  .opzij{
      display: inline-block;
      width: 100%;
      margin-left: 0px; 
  }
}