<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    </configSections>
    <unity>
        <container>
            <register type="Chiro.Cdf.ServiceHelper.IChannelProvider, Chiro.Cdf.ServiceHelper" mapTo="Chiro.Cdf.ServiceHelper.ChannelFactoryChannelProvider, Chiro.Cdf.ServiceHelper" />
            <!-- Authenticeer tegen de DummyAuthenticator -->
            <register type="Chiro.Cdf.Authentication.IAuthenticator, Chiro.Cdf.Authentication" mapTo="Chiro.Cdf.Authentication.Dev.DummyAuthenticator, Chiro.Cdf.Authentication.Dev" />
        </container>
    </unity>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="AdnrInspectorBehavior">
                    <AdnrInspectorBehavior />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <extensions>
            <behaviorExtensions>
                <add name="AdnrInspectorBehavior" type="Chiro.Cdf.AdnrWcfExtension.AdnrInspectorBehaviorExtension,Chiro.Cdf.AdnrWcfExtension" />
            </behaviorExtensions>
        </extensions>
        <bindings>
            <basicHttpBinding>
                <binding name="ChiroBindingConfiguration" sendTimeout="00:05:00" maxReceivedMessageSize="3000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2734/GroepenService.svc" binding="basicHttpBinding" bindingConfiguration="ChiroBindingConfiguration" behaviorConfiguration="AdnrInspectorBehavior" contract="Chiro.Gap.ServiceContracts.IGroepenService" name="" />
        </client>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration> 