<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="serviceHelper" type="Chiro.Cdf.ServiceHelper.Configuration.CdfConfigurationSection, Chiro.Cdf.ServiceHelper" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chiro.CiviSync.ConsoleServiceHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <serviceHelper>
    <serviceProviders>
      <add name="wcf" type="Chiro.Cdf.ServiceHelper.ChannelFactoryServiceProvider, Chiro.Cdf.ServiceHelper" />
    </serviceProviders>
  </serviceHelper>

  <system.serviceModel>    
    <bindings>
      <netMsmqBinding>
        <!-- Binding voor message queue, voor deze service. Voorlopig zonder security, op termijn met. -->
        <binding name="NoMsmqSecurity" receiveTimeout="2.00:00:00" receiveErrorHandling="Fault" timeToLive="14.00:00:00">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
      <webHttpBinding>
        <!-- Deze binding is nodig als je HTTPS wilt gebruiken -->
        <!-- Chirocivi-specifiek: als je een foutmelding krijgt dat het endpoint niet gevonden wordt,
             controleer dan of je niet geredirect wordt naar https://login.chiro.be -->
        <binding name="CiviBindingConfiguration" contentTypeMapper="Chiro.CiviCrm.BehaviorExtension.MyRawMapper, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <security mode="None"/>   <!-- None voor http, Transport voor https -->
        </binding>
      </webHttpBinding>
    </bindings>

    <client>
      <!-- Deze toepassing is client voor civicrm. Hieronder: de url voor de civi-API -->
      <endpoint 
        address="http://192.168.124.1/dev1/sites/all/modules/civicrm/extern/rest.php" 
        binding="webHttpBinding" 
        bindingConfiguration="CiviBindingConfiguration" 
        behaviorConfiguration="CiviBehaviorConfiguration" 
        contract="Chiro.CiviCrm.Api.ICiviCrmApi"/>
    </client>

    <services>
      <service behaviorConfiguration="SyncServiceBehavior" name="Chiro.CiviSync.Services.SyncService">
        <endpoint address="net.msmq://localhost/private/civisyncdev" binding="netMsmqBinding" bindingConfiguration="NoMsmqSecurity" contract="Chiro.Kip.ServiceContracts.ISyncPersoonService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/civisyncdev"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <!-- truken om Unity te gebruiken bij het instantieren van de WCF service -->
        <add name="unity" type="Chiro.Cdf.UnityWcfExtensions.UnityBehaviorExtensionElement, Chiro.Cdf.UnityWcfExtensions"/>
        <!-- In the line below, the part 'Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' seems NECESSARY -->
        <add name="CiviWebHttp" type="Chiro.CiviCrm.BehaviorExtension.CiviWebHttpBehaviorExtensionElement, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="SyncServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CiviBehaviorConfiguration">
          <!-- Die myWebHttp is een custom behavior extension; zie Chiro.CiviCrm.BehaviorExtension -->
          <CiviWebHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
