<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="serviceHelper" type="Chiro.Adf.Configuration.AdfConfigurationSection, Chiro.Adf"/>
  </configSections>

  <unity>
    <containers>
      <container name="container">
        <types>
          <type type="Chiro.Cdf.ServiceHelper.IServiceHelper, Chiro.Cdf.ServiceHelper"
                mapTo="Chiro.Adf.ServiceModel.ServiceHelper, Chiro.Adf.ServiceModel" />
        </types>
      </container>
    </containers>
  </unity>

  <serviceHelper>
    <serviceProviders>
      <add name="wcf" type="Chiro.Adf.ChannelFactoryServiceProvider, Chiro.Adf" />
    </serviceProviders>
  </serviceHelper>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ChiroBindingConfiguration" sendTimeout="00:05:00"
          maxReceivedMessageSize="655360" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gapsrv1.chiro.wereld/Test/GelieerdePersonenService.svc"
        binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration"
        contract="Chiro.Gap.ServiceContracts.IGelieerdePersonenService" />
      <endpoint address="http://gapsrv1.chiro.wereld/Test/LedenService.svc" binding="wsHttpBinding"
        bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.ILedenService" />
      <endpoint address="http://gapsrv1.chiro.wereld/Test/GroepenService.svc"
        binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration"
        contract="Chiro.Gap.ServiceContracts.IGroepenService" />
    </client>
  </system.serviceModel>
  
</configuration>