<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="serviceHelper" type="Chiro.Adf.Configuration.AdfConfigurationSection, Chiro.Adf"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chiro.Gap.InitieleImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <unity>
    <containers>
      <container name="container">
        <types>
          <type type="Chiro.Cdf.ServiceHelper.IServiceHelper, Chiro.Cdf.ServiceHelper"
                mapTo="Chiro.Adf.ServiceModel.ServiceHelper, Chiro.Adf.ServiceModel" />
        </types>
      </container>
    </containers>
  </unity>

  <serviceHelper>
    <serviceProviders>
      <add name="wcf" type="Chiro.Adf.ChannelFactoryServiceProvider, Chiro.Adf" />
    </serviceProviders>
  </serviceHelper>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!-- 15 seconden timeout is zeker genoeg voor import -->
        <binding name="ChiroBindingConfiguration" sendTimeout="00:00:15"
          maxReceivedMessageSize="655360" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gapsrv1.chiro.wereld/test/GelieerdePersonenService.svc"
        binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration"
        contract="Chiro.Gap.ServiceContracts.IGelieerdePersonenService" />
      <endpoint address="http://gapsrv1.chiro.wereld/test/LedenService.svc" binding="wsHttpBinding"
        bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.ILedenService" />
      <endpoint address="http://gapsrv1.chiro.wereld/test/GroepenService.svc"
        binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration"
        contract="Chiro.Gap.ServiceContracts.IGroepenService" />
    </client>
  </system.serviceModel>
  
  <userSettings>
    <Chiro.Gap.InitieleImport.Properties.Settings>
      <setting name="UitPakDir" serializeAs="String">
        <value>e:\x</value>
      </setting>
    </Chiro.Gap.InitieleImport.Properties.Settings>
  </userSettings>

  <system.diagnostics>
    <sources>
      <!-- logging naar bestand WCFTrace.log -->
      <source name="System.ServiceModel"
        switchValue="Warning"
        propagateActivity="true">
        <listeners>
          <add name="traceListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="WCFTrace.log" />
        </listeners>
      </source>

    </sources>
  </system.diagnostics>

  <connectionStrings>
    <add name="gapdb" providerName="System.Data.Sql" connectionString="Data Source=devserver;Initial Catalog=gap;user id=gap;password=gap;"/>
  </connectionStrings>
</configuration>