<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
        <!-- channelProvider -->
        <!-- We registreren een alternatieve channel provider, om te vermijden dat kipadmin of active directory aangesproken
              worden tijdens het ontwikkelen -->
        <register type="Chiro.Cdf.ServiceHelper.IChannelProvider, Chiro.Cdf.ServiceHelper" mapTo="Chiro.Gap.Services.Dev.DevChannelProvider, Chiro.Gap.Services.Dev"/>
    </container>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
