@model Chiro.Gap.Diagnostics.WebApp.Models.BivakkenIndexModel
           
@{
    ViewBag.Title = "Niet-doorgekomen bivakaangiftes";
}

<h2 class="title">Niet-doorgekomen bivakaangiftes</h2>

<p>
Aantal niet-doorgekomen bivakaangiftes in Kipadmin: <strong>@Model.AantalVerdwenenBivakken</strong>. [@Html.ActionLink("opnieuw syncen", "OpnieuwSyncen")]
</p>

