<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="serviceHelper" type="Chiro.Adf.Configuration.AdfConfigurationSection, Chiro.Adf"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chiro.Gap.Diagnostics.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <serviceHelper>
    <serviceProviders>
      <add name="ioc" type="Chiro.Adf.IocServiceProvider, Chiro.Adf" />
    </serviceProviders>
  </serviceHelper>

  <unity>
    <containers>
      <container>
        <types>
          <!-- Deze mappings zijn zo goed als altijd nodig -->
          <type type="Chiro.Gap.Orm.DataInterfaces.IPersonenDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.PersonenDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IAutorisatieDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.AutorisatieDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IGavDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.GavDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepenDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.GroepenDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IFunctiesDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.FunctiesDao, Chiro.Gap.Data"/>
          <type type="Chiro.Cdf.Data.IDao`1, Chiro.Cdf.Data" mapTo="Chiro.Gap.Data.Ef.AbstractChiroGroepDao`1, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Workers.IAuthenticatieManager, Chiro.Gap.Workers" mapTo="Chiro.Gap.Workers.AuthenticatieManager, Chiro.Gap.Workers"/>

          <!-- Let op: we bepalen dat dit proces superGAV is in onderstaande lijn. -->
          <type type="Chiro.Gap.Workers.IAutorisatieManager, Chiro.Gap.Workers" mapTo="Chiro.Gap.Diagnostics.Service.SuperGavAutorisatieManager, Chiro.Gap.Diagnostics.Service, Version=1.0.0.0, Culture=neutral"/>
          <!-- Einde van de zo goed als altijd nodige mappings -->

          <!-- Voor groepen & leden -->
          <type type="Chiro.Gap.Orm.DataInterfaces.IGelieerdePersonenDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.GelieerdePersonenDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Workers.IVeelGebruikt, Chiro.Gap.Workers" mapTo="Chiro.Gap.Workers.VeelGebruikt, Chiro.Gap.Workers"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepsWerkJaarDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.GroepsWerkJaarDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.ILedenDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.LedenDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IKindDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.KindDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.ILeidingDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.LeidingDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingsJarenDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.AfdelingsJarenDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.ICommunicatieVormDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.CommunicatieVormDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.IAbonnementenDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.AbonnementenDao, Chiro.Gap.Data"/>
          <type type="Chiro.Gap.Orm.DataInterfaces.ICategorieenDao, Chiro.Gap.Orm" mapTo="Chiro.Gap.Data.Ef.CategorieenDao, Chiro.Gap.Data"/>
      
          <!-- mailen -->
          <type type="Chiro.Cdf.Mailer.IMailer, Chiro.Cdf.Mailer" mapTo="Chiro.Cdf.Mailer.Mailer, Chiro.Cdf.Mailer" />
          
          <!-- sync -->
          <type type="Chiro.Gap.Orm.SyncInterfaces.ILedenSync, Chiro.Gap.Orm" mapTo="Chiro.Gap.Sync.LedenSync, Chiro.Gap.Sync"/>
          <type type="Chiro.Gap.Orm.SyncInterfaces.IDubbelpuntSync, Chiro.Gap.Orm" mapTo="Chiro.Gap.Sync.DubbelpuntSync, Chiro.Gap.Sync"/>
          <type type="Chiro.Gap.Orm.SyncInterfaces.IPersonenSync, Chiro.Gap.Orm" mapTo="Chiro.Gap.Sync.PersonenSync, Chiro.Gap.Sync"/>
          <type type="Chiro.Gap.Orm.SyncInterfaces.IAdressenSync, Chiro.Gap.Orm" mapTo="Chiro.Gap.Sync.AdressenSync, Chiro.Gap.Sync"/>

          <!-- Gebruik MOQ in plaats van KipSync-service -->
          <type type="Chiro.Kip.ServiceContracts.ISyncPersoonService, Chiro.Kip.ServiceContracts" mapTo="Chiro.Kip.ServiceContracts.KipSyncMock, Chiro.Kip.ServiceContracts" />

        </types>
      </container>
    </containers>
  </unity>

  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devsrv1.chiro.lokaal\sql2k5;Initial Catalog=gap;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True;Application Name=gap&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <!-- De Service Behavior Extension om dependency injection in orde te krijgen voor WCF-services -->
    <!-- In dit geval concreet: het aanroepen van kipsync -->
    <extensions>
      <behaviorExtensions>
        <add name="DIServiceBehaviorExtension" type="Chiro.Cdf.DependencyInjection.DIServiceBehaviorSection, Chiro.Cdf.DependencyInjectionBehavior, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

    <bindings>
      <!-- de ChiroBindingConfiguration zal gebruikt worden voor deze service -->
      <wsHttpBinding>
        <binding name="ChiroBindingConfiguration" sendTimeout="00:05:00" maxReceivedMessageSize="2000000"/>
      </wsHttpBinding>

      <!-- De MailServiceSoap binding configuration zal gebruikt worden om de service
      om mails te sturen aan te roepen-->
      
      <basicHttpBinding>
        <binding name="MailServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Chiro.Gap.Diagnostics.Service.Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!-- Activeer de dependency injection behavior extension -->
          <DIServiceBehaviorExtension />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>
      <service behaviorConfiguration="Chiro.Gap.Diagnostics.Service.Behavior"
       name="Chiro.Gap.Diagnostics.Service.AdminService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration"
         contract="Chiro.Gap.Diagnostics.ServiceContracts.IAdminService" />
      </service>
    </services>

    <client>
      <endpoint address="http://intranet/MailService/MailService.asmx"
          binding="basicHttpBinding" bindingConfiguration="MailServiceSoap"
          contract="MailServiceReference.MailServiceSoap" name="MailServiceSoap" />
    </client>
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
 <applicationSettings>
  <Chiro.Gap.Diagnostics.Service.Properties.Settings>
   <setting name="DagenTijdelijkGebruikersRecht" serializeAs="String">
    <value>1</value>
   </setting>
  </Chiro.Gap.Diagnostics.Service.Properties.Settings>
 </applicationSettings>
</configuration>
