<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type type="Chiro.Poc.ServiceGedoe.IServiceClient`1, Chiro.Poc.ServiceGedoe" mapTo="Chiro.Poc.ServiceGedoe.IocServiceClient`1, Chiro.Poc.ServiceGedoe" />
        </types>
      </container>
    </containers>
  </unity>  
</configuration>