<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Chiro.Mailchimp.Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chiro.Mailchimp.Sync.Properties.Settings>
            <setting name="ApiServer" serializeAs="String">
                <value>https://us10.api.mailchimp.com</value>
            </setting>
            <setting name="ApiPath" serializeAs="String">
                <value>/3.0/</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>***</value>
            </setting>
            <setting name="ListId" serializeAs="String">
                <value>***</value>
            </setting>
        </Chiro.Mailchimp.Sync.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
