<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PersonenMergen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
    <PersonenMergen.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>http://localhost:50673</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value>/</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
    </PersonenMergen.Properties.Settings>
  </userSettings>
</configuration>
