<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="container">
        <types>
          <type type="Chiro.Gap.Orm.DataInterfaces.ILedenDao, Chiro.Gap.Orm"
							mapTo="Chiro.Gap.Data.Ef.LedenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IKindDao, Chiro.Gap.Orm"
              mapTo="Chiro.Gap.Data.Ef.KindDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILeidingDao, Chiro.Gap.Orm"
              mapTo="Chiro.Gap.Data.Ef.LeidingDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepenDao, Chiro.Gap.Orm"
              mapTo="Chiro.Gap.Data.Ef.GroepenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGelieerdePersonenDao, Chiro.Gap.Orm"
							mapTo="Chiro.Gap.Data.Ef.GelieerdePersonenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingsJarenDao, Chiro.Gap.Orm"
							mapTo="Chiro.Gap.Data.Ef.AfdelingsJarenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepsWerkJaarDao, Chiro.Gap.Orm"
							mapTo="Chiro.Gap.Data.Ef.GroepsWerkJaarDao, Chiro.Gap.Data" />
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devserver;Initial Catalog=gap1rc2;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True;Application Name=GapSvc706&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>