<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Cg2ObjectContext" connectionString="metadata=F:\development\cg2\poc\EntityFramework\WebServices\bin\Cg2Domain.csdl|F:\development\cg2\poc\EntityFramework\WebServices\bin\Cg2Domain.ssdl|F:\development\cg2\poc\EntityFramework\WebServices\bin\Cg2Domain.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devserver;Initial Catalog=ChiroGroep;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>