<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="Cg2.Orm.DataInterfaces.IGelieerdePersonenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.GelieerdePersonenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.ILedenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.LedenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IKindDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.KindDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.ILeidingDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.LeidingDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IGroepenDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.GroepenDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IAfdelingsJaarDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.AfdelingsJaarDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IAutorisatieDao, Cg2.Orm"
                mapTo="Cg2.Data.Ef.AutorisatieDao, Cg2.Data" />
          <type type="Cg2.Orm.DataInterfaces.IDao`1, Cg2.Orm"
                mapTo="Cg2.Data.Ef.Dao`1, Cg2.Data" />
          <type type="Cg2.Workers.IAutorisatieManager, Cg2.Workers"
                mapTo="Cg2.Workers.AutorisatieManager, Cg2.Workers" />
          <type type="Cg2.Workers.IAuthenticatieManager, Cg2.Workers"
                mapTo="Cg2.Workers.AuthenticatieManager, Cg2.Workers" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>