USE [gap]
GO
/****** Object:  StoredProcedure [auth].[spGebruikersRechtToekennen]    Script Date: 11/25/2010 13:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [auth].[spGebruikersRechtToekennen]
(
	@stamNr VARCHAR(10)
	, @login VARCHAR(40)
)
AS
-- Doel: Geeft login gebruikersrecht op gegeven groep
-- Als de persoon ooit gebruikersrecht had, wordt dit gewoon verlengd.
BEGIN
	INSERT INTO auth.Gav([Login])
	SELECT		@login
	WHERE NOT EXISTS (SELECT 1 FROM auth.Gav WHERE [Login]=@login)

	INSERT INTO auth.GebruikersRecht(GavID, GroepID, VervalDatum)
	SELECT
			GavID, GroepID, DateAdd(year, 1, getDate())
	FROM
			auth.Gav gav
			, grp.Groep g
	WHERE
			gav.[Login]=@login
			AND g.Code=@stamnr
			AND NOT EXISTS (SELECT 1 FROM auth.GebruikersRecht
							WHERE GavID = gav.GavID AND GroepID = g.GroepID)

	-- vervaldatum opnieuw updaten, voor het geval het gebruikersrecht al bestond

	UPDATE gr
	SET gr.VervalDatum = DateAdd(year, 1, getDate()) 
	FROM auth.GebruikersRecht gr JOIN grp.Groep g on gr.GroepID = g.GroepID
	JOIN auth.Gav ON gr.GavID = gav.GavID
	WHERE gav.Login=@login AND g.Code=@stamnr
	
	IF @@ROWCOUNT <= 0
	BEGIN
		RAISERROR('Dat StamNr is niet gevonden in de tabel Groep', 16, 1)
	END
END
