<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceHelper" type="Chiro.Adf.Configuration.AdfConfigurationSection, Chiro.Adf"/>
  </configSections>

  <!-- Twee service providers, om het moeilijk te maken.
       In dat geval worden ze voor het resolven van de service in volgorde afgelopen.  De eerste
       implementatie die wordt gevonden, wordt gebruikt. -->
  
  <serviceHelper>
    <serviceProviders>
      <add name="ioc" type="Chiro.Adf.IocServiceProvider, Chiro.Adf" />
      <add name="wcf" type="Chiro.Adf.ChannelFactoryServiceProvider, Chiro.Adf"/>
    </serviceProviders>
  </serviceHelper>
  
  <!-- Groepenservice hier ook definieren, om te zien of mock en geen mock gecombineerd kunnen worden -->

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ChiroBindingConfiguration" sendTimeout="00:05:00" maxReceivedMessageSize="2000000"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- developmentconfiguratie -->
      <endpoint address="http://localhost:2734/GelieerdePersonenService.svc"
				binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration"
				contract="Chiro.Gap.ServiceContracts.IGelieerdePersonenService"/>
      <endpoint address="http://localhost:2734/LedenService.svc"
				binding="wsHttpBinding"
				bindingConfiguration="ChiroBindingConfiguration"
				contract="Chiro.Gap.ServiceContracts.ILedenService"/>
      <endpoint address="http://localhost:2734/UitstappenService.svc"
				binding="wsHttpBinding"
				bindingConfiguration="ChiroBindingConfiguration"
				contract="Chiro.Gap.ServiceContracts.IUitstappenService"/>
    </client>
  </system.serviceModel>

</configuration>