<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceHelper" type="Chiro.Adf.Configuration.AdfConfigurationSection, Chiro.Adf"/>
  </configSections>
  <serviceHelper>
    <serviceProviders>
      <add name="ioc" type="Chiro.Adf.IocServiceProvider, Chiro.Adf" />
    </serviceProviders>
  </serviceHelper>

</configuration>