<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chiro.Gap.Services.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devserver;Initial Catalog=gap1rc1;User ID=CgApp;Password=doemaariets;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity>
    <containers>
      <container name="container">
        <types>
          <!-- altijd GAV voor deze tests -->
          <type type="Chiro.Gap.Orm.DataInterfaces.IAutorisatieDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Dummies.AutDaoAltijdGav, Chiro.Gap.Dummies" />
          <type type="Chiro.Gap.Workers.IAutorisatieManager, Chiro.Gap.Workers"
                mapTo="Chiro.Gap.Workers.AutorisatieManager, Chiro.Gap.Workers" />
          <type type="Chiro.Gap.Workers.IAuthenticatieManager, Chiro.Gap.Workers"
                mapTo="Chiro.Gap.Workers.AuthenticatieManager, Chiro.Gap.Workers" />
          <!-- map standaard naar dummy's die niets implementeren -->
          <type type="Chiro.Gap.Orm.DataInterfaces.IAdressenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.AdressenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IStratenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.StratenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ISubgemeenteDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.SubgemeenteDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGelieerdePersonenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GelieerdePersonenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IPersonenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.PersonenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILedenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.LedenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IKindDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.KindDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ILeidingDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.LeidingDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GroepenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ICommunicatieVormDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.CommunicatieVormDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingsJarenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.AfdelingsJaarDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGroepsWerkJaarDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GroepsWerkJaarDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IAfdelingenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.AfdelingenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.ICategorieenDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.CategorieenDao, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IFunctiesDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.FunctiesDao, Chiro.Gap.Data" />          
          <type type="Chiro.Cdf.Data.IDao`1, Chiro.Cdf.Data"
                mapTo="Chiro.Gap.Data.Ef.AbstractChiroGroepDao`1, Chiro.Gap.Data" />
          <type type="Chiro.Gap.Orm.DataInterfaces.IGavDao, Chiro.Gap.Orm"
                mapTo="Chiro.Gap.Data.Ef.GavDao, Chiro.Gap.Data" />
		<!-- Syncen is voor deze tests niet van belang -->
		<type type="Chiro.Gap.Orm.SyncInterfaces.IAdressenSync, Chiro.Gap.Orm"
		      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
		<type type="Chiro.Gap.Orm.SyncInterfaces.ICommunicatieSync, Chiro.Gap.Orm"
		      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
		<type type="Chiro.Gap.Orm.SyncInterfaces.IPersonenSync, Chiro.Gap.Orm"
		      mapTo="Chiro.Gap.Dummies.DummySync, Chiro.Gap.Dummies" />
        </types>                        
      </container>
    </containers>
  </unity>  
  <userSettings>
    <Chiro.Gap.Services.Test.Properties.Settings>
      <setting name="TestSecurityGroep" serializeAs="String">
        <value>CgUsers</value>
      </setting>
      <setting name="TestUser" serializeAs="String">
        <value>tester</value>
      </setting>
    </Chiro.Gap.Services.Test.Properties.Settings>
  </userSettings>
</configuration>