USE ChiroGroep
GO

CREATE TABLE adr.Gemeente(
	GemeenteID int IDENTITY(1,1) NOT NULL,
	NisGemeenteCode decimal(5, 0) NOT NULL,
	Taal char(2) NOT NULL,
	Naam varchar(40) NOT NULL,
    CONSTRAINT PK_Gemeente PRIMARY KEY CLUSTERED (GemeenteID)
)

CREATE TABLE adr.PostCode(
	PostCode int NOT NULL,
	CONSTRAINT PK_PostCode PRIMARY KEY CLUSTERED (PostCode) 
)

CREATE TABLE adr.Straat(
	StraatID int IDENTITY(1,1) NOT NULL,
	PostCode int NOT NULL,
	Naam VARCHAR(80) NOT NULL,
	CONSTRAINT PK_Straat PRIMARY KEY CLUSTERED (StraatID)
)
ALTER TABLE adr.Straat WITH CHECK ADD CONSTRAINT FK_Straat_PostCode FOREIGN KEY(PostCode) REFERENCES adr.PostCode(PostCode)

CREATE TABLE adr.Subgemeente(
	SubgemeenteID int IDENTITY(1,1) NOT NULL,
	PostCode int NOT NULL,
	Naam VARCHAR(80) NOT NULL,
    CONSTRAINT PK_Subgemeente PRIMARY KEY CLUSTERED (SubgemeenteID)
)

ALTER TABLE adr.SubGemeente  WITH CHECK ADD  CONSTRAINT FK_SubGemeente_PostCode FOREIGN KEY(PostCode)
REFERENCES adr.PostCode(PostCode)


CREATE TABLE adr.PostCodeNaarGemeente(
	GemeenteID int NOT NULL,
	PostCode int NOT NULL,
 CONSTRAINT PK_PostcodeNaarGemeente PRIMARY KEY CLUSTERED (GemeenteID, PostCode)
)

ALTER TABLE adr.PostCodeNaarGemeente WITH CHECK ADD CONSTRAINT FK_PostCodeNaarGemeente_Gemeente FOREIGN KEY(GemeenteID) REFERENCES adr.Gemeente(GemeenteID);
ALTER TABLE adr.PostCodeNaarGemeente WITH CHECK ADD CONSTRAINT FK_PostCodeNaarGemeentes_PostCode FOREIGN KEY(PostCode) REFERENCES adr.PostCode(PostCode);


CREATE UNIQUE INDEX Gemeente_NisGemeenteCode ON adr.Gemeente(NisGemeenteCode);
