<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LdapWereldRoot" value="LDAP://chiro.wereld" />
    <add key="LdapLokaalRoot" value="LDAP://chiro.lokaal" />
    <add key="GapRootOU" value="/OU=ChiroAdministratie,DC=Chiro,DC=Wereld" />
    <add key="GapOU" value="/OU=Gebruikers,OU=ChiroAdministratie,DC=Chiro,DC=Wereld" />
    <add key="GapGroepenOU" value="/OU=Groepen,OU=ChiroAdministratie,DC=Chiro,DC=Wereld" />
    <add key="GapGebruikersGroep" value="GapGebruikers" />
    <add key="ADLogin" value="PwdAdmin" />
    <add key="ADPwd" value="1000Pintn" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Service" behaviorConfiguration="ServiceBehaviors">
        <endpoint name="Endpoint"
                  address=""
                  binding="basicHttpBinding"
								  contract="IService" />
        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
    </services>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="shortTimeout" />
      <add scheme="https" binding="basicHttpBinding" bindingConfiguration="Secure" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="MailServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding
						name="shortTimeout">
        </binding>
        <binding
					 name="Secure">
          <security mode="Transport" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://intranet/MailService/MailService.asmx" binding="basicHttpBinding" bindingConfiguration="MailServiceSoap" contract="MailServiceReference.MailServiceSoap" name="MailServiceSoap"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviors">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
