DECLARE curRechten CURSOR
READ_ONLY
FOR 
SELECT 'REVOKE ' + [PRIVILEGE_TYPE] + ' ON ' + [TABLE_SCHEMA]
       + '.'  + [TABLE_NAME] + ' FROM ' + [GRANTEE] +'; '
  FROM [kipadmin].[INFORMATION_SCHEMA].[TABLE_PRIVILEGES]
  where grantee = 'public'
  and [TABLE_NAME]<> 'dtproperties'

DECLARE @name nvarchar(1000)
OPEN curRechten

FETCH NEXT FROM curRechten INTO @name
WHILE (@@fetch_status <> -1)
BEGIN
	IF (@@fetch_status <> -2)
	BEGIN
		PRINT @name
		exec(@name)
	END
	FETCH NEXT FROM curRechten INTO @name
END

CLOSE curRechten
DEALLOCATE curRechten
GO
