@model Chiro.Gap.Diagnostics.WebApp.Models.FunctiesIndexModel
           
@{
    ViewBag.Title = "Functieproblemen";
}

<h2 class="title">Functieproblemen</h2>

<p>
Aantal functie-inconsistenties Kipadmin-GAP voor dit werkjaar: <strong>@Model.AantalProblemen</strong>. [<a href="@Model.ProblemenRapportUrl">bekijken</a>] [@Html.ActionLink("opnieuw syncen", "OpnieuwSyncen")]
</p>

