<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chiro.Gap.FixAnomalies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="ChiroGroepEntities" connectionString="metadata=res://*/ChiroGroepModel.csdl|res://*/ChiroGroepModel.ssdl|res://*/ChiroGroepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=gap_local;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=gap_local&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>  
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <extensions>
      <!-- The behavior extension for the CiviWebHttpBehavior -->
      <behaviorExtensions>
        <!-- In the line below, the part 'Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' is NECESSARY -->
        <add name="CiviWebHttp" type="Chiro.CiviCrm.BehaviorExtension.CiviWebHttpBehaviorExtensionElement, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <!-- The endpoint behavior configuration for CiviCRM uses the CiviWebHttp behavior extension. -->
      <endpointBehaviors>
        <behavior name="CiviBehaviorConfiguration">
          <CiviWebHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="CiviBindingConfiguration" maxReceivedMessageSize="6553600" contentTypeMapper="Chiro.CiviCrm.BehaviorExtension.MyRawMapper, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
      <!-- De msmq-binding voor de CiviSync. -->
      <netMsmqBinding>
        <binding name="NetMsmqBinding_ISyncPersoonService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Reject" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netMsmqBinding>    
    </bindings>
    <client>
      <!-- 
        Define the endpoint of your API below. You can name the endpoint, if you want to connect to different CiviCRM instances.
        Use the binding and behavior configurations defined above. The service contract is Chiro.CiviCrm.Api.ICiviCrmApi.
        -->
      <endpoint address="http://192.168.122.1/~johanv/chirocivi-dev1/sites/all/modules/civicrm/extern/rest.php" binding="webHttpBinding" bindingConfiguration="CiviBindingConfiguration" behaviorConfiguration="CiviBehaviorConfiguration" contract="Chiro.CiviCrm.Api.ICiviCrmApi"/>
      <endpoint address="net.msmq://localhost/private/civisyncdev" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ISyncPersoonService" contract="Chiro.Kip.ServiceContracts.ISyncPersoonService"/>    
    </client>
  </system.serviceModel>
  <userSettings>
    <Chiro.Gap.FixAnomalies.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>blablablapi</value>
      </setting>
      <setting name="SiteKey" serializeAs="String">
        <value>4fcff822c77a6707a50c83939aca3bab</value>
      </setting>
      <setting name="LedenBlokGrootte" serializeAs="String">
        <value>60000</value>
      </setting>
    </Chiro.Gap.FixAnomalies.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
