<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AdnrInspectorBehavior">
                  <AdnrInspectorBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="AdnrInspectorBehavior" type="Chiro.Cdf.AdnrWcfExtension.AdnrInspectorBehaviorExtension,Chiro.Cdf.AdnrWcfExtension" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <wsHttpBinding>
        <binding name="ChiroBindingConfiguration" sendTimeout="00:05:00" maxReceivedMessageSize="3000000" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2734/GelieerdePersonenService.svc" behaviorConfiguration="AdnrInspectorBehavior" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGelieerdePersonenService" />
      <endpoint address="http://localhost:2734/LedenService.svc" behaviorConfiguration="AdnrInspectorBehavior" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.ILedenService" />
      <endpoint address="http://localhost:2734/GroepenService.svc" behaviorConfiguration="AdnrInspectorBehavior" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGroepenService" />
      <endpoint address="http://localhost:2734/UitstappenService.svc" behaviorConfiguration="AdnrInspectorBehavior" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IUitstappenService" />
      <endpoint address="http://localhost:2734/GebruikersService.svc" behaviorConfiguration="AdnrInspectorBehavior" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IGebruikersService" />
      <endpoint address="http://localhost:2734/DbHacksService.svc" behaviorConfiguration="AdnrInspectorBehavior" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Gap.ServiceContracts.IDbHacksService" />
      <endpoint address="http://localhost:50024/AdService.svc" binding="wsHttpBinding" bindingConfiguration="ChiroBindingConfiguration" contract="Chiro.Ad.ServiceContracts.IAdService" />
    </client>
  </system.serviceModel>
  <unity>
    <container>
      <register type="Chiro.Cdf.ServiceHelper.IChannelProvider, Chiro.Cdf.ServiceHelper" mapTo="Chiro.Cdf.ServiceHelper.ChannelFactoryChannelProvider, Chiro.Cdf.ServiceHelper" />
      <!-- In dev authenticeren we niet tegen AD, maar krijg je een dummy-AD-nr: -->
      <register type="Chiro.Cdf.Authentication.IAuthenticator, Chiro.Cdf.Authentication" mapTo="Chiro.Cdf.Authentication.Dev.DummyAuthenticator, Chiro.Cdf.Authentication.Dev" />
    </container>
  </unity>
</configuration>