body
{
	position:relative;
	font-family:Verdana;
}


#header
{
	width:1000px;
	height:200px;
	background-color:#CC0000;
	border-top:5px solid #333333;
	border-right:5px solid #333333;
	color:#ffffff;

	font-weight:bold;
	font-size:10px;	
}

#header #loginInfo
{
	position:absolute;
	left:0px;
	top:5px;
}

#header #loginInfo .tekst
{
	margin-left:7px;
	margin-top:4px;
}

#header #titel
{
	position:absolute;
	left:500px;
	top:4px;


}

#header #titel .tekst
{
	width:490px;
	font-size:80px;
	font-weight:normal;
	text-align:right;
}

#header #zoeken
{
	position:absolute;
	left:0px;
	top:167px;
	width:200px;
	height:33px;
	border-bottom:5px solid #cc0000;
	background-color:#333333;
}

#header #zoeken .tekst
{
	margin-left:5px;
	margin-top:5px;
}

#header #zoeken .tekst input
{
	width:130px;
}

#header #werkjaar
{
	margin-left:795px;
	margin-top:165px;
	width:200px;
	height:30px;
	text-align:right;
}

#header #werkjaar .huidig
{
	font-size:15px;
	font-weight:bold;
}

#content
{
	margin-bottom:10px;
	height:500px;
}
#content #leftmenu
{
	background-color:#333333;
	width:200px;
	height:500px;
	float:left;
}

#content #pagecontent
{
	border-right:5px solid #333333;
	width:790px;
	float:left;
	/*height:500px;*/
	margin-left:10px;
	margin-right:10px;
	font-size:11px;
}

h1
{
	font-size:30px;
	font-weight:normal;
	text-decoration:underline;
}

#footer
{
	clear:both;
	width:1000px;
	color:#ffffff;
	background-color:#cc0000;
	text-align:center;
		font-weight:bold;
	font-size:10px;	
	padding-top:3px;
	padding-bottom:4px;
	border-right:5px solid #333333;
}


/* link kleuren */

#header a:link, #header a:visited, #footer a:link, #footer a:visited
{
	color:#FFCC00;
	text-decoration:underline;
}

#header a:hover, #footer a:hover
{
	color:#FFCC00;
	text-decoration:none;
}

#content a:link, #content a:visited
{
	color:#CC0000;
	text-decoration:underline;
}

#content a:hover
{
	color:#CC0000;
	text-decoration:none;
}

/* tabellen */

.tabel
{

}

.tabel .normal
{
	background-color:#ffffff;
}

.tabel .alternating
{
	background-color:#eeeeee;
}

.tabel .header
{
	background-color:#cc0000;
	color:#ffffff;
	border:1px solid #FFCC00;
}